.tile_content{
	margin:20px;
}

.tile{
	height:200px;
	width:200px;
	text-align:center;
	color:#ecf0f1;
	border-radius:2px;
	cursor:pointer;
	float:right;
	margin-top:20px;
	margin-left:20px;
}

.tile p span{
	margin-top:10px;
	font-size:60px;

}
.c1{background-color:#2c3e50;}
.c1 a{	color:#ecf0f1;	text-decoration:none;}
.c1 a:hover,.c1:hover{	color:#F7E041;	text-decoration:none;}

.c2{background-color:#2980b9;}
.c2 a{	color:#ecf0f1;	text-decoration:none;}
.c2 a:hover,.c1:hover{	color:#2ecc71;	text-decoration:none;}

.c3{background-color:#16a085;}
.c3 a{	color:#ecf0f1;	text-decoration:none;}
.c3 a:hover,.c1:hover{	color:#c0392b;	text-decoration:none;}

.c4{background-color:#c0392b;}
.c4 a{	color:#ecf0f1;	text-decoration:none;}
.c4 a:hover,.c1:hover{	color:#2c3e50;	text-decoration:none;}

.c5{background-color:#9b59b6;}
.c5 a{	color:#ecf0f1;	text-decoration:none;}
.c5 a:hover,.c1:hover{	color:#f1c40f;	text-decoration:none;}


.c6{background-color:#FA6800;}
.c6 a{	color:#ecf0f1;	text-decoration:none;}
.c6 a:hover,.c1:hover{	color:#16499A;	text-decoration:none;}

.c7{background-color:#FF1B79;}
.c7 a{	color:#ecf0f1;	text-decoration:none;}
.c7 a:hover,.c1:hover{	color:#520E24;	text-decoration:none;}

.c8{
background-color:#fff;color:#000;
border:1px solid #ddd;
}

.c9{background-color:gray;}
.c9 a{	color:#ecf0f1;	text-decoration:none;}
.c9 a:hover,.c1:hover{	color:#520E24;	text-decoration:none;}







