﻿@font-face {
     font-family: 'Yekan';
     src: /*local('☺'),*/
     local('Yekan'),
     url('../../fonts/yekan3.woff') format('woff');
font-weight: normal;
font-style: normal;
}
*{
    font-family: Yekan,tahoma,Arial;
    font-size: 13px;
}
body {
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
}

.content {
    width: 430px;
    margin: 100px auto 0 auto;
    border: solid 1px #CDCDCD;
    background-color: white;
    border-radius: 4px;
}
ul {

    list-style: none;
    margin: 50px 50px 0 50px;
    padding: 0;
    

}
li {
    margin: 10px;
}
.btnCnt {
    text-align: left;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 10px;

}
.btnCnt input {
    width: 100px;
}
.icon {
    margin-left: 10px;
    border-left: 1px solid #cdcdcd;
    padding: 8px;
    height: 38px;
    font-size: 16px;
}
.form_head {
    height: 40px;
    border-bottom: 1px solid #cdcdcd;
    background-color: #EFEFEF;
    color: #666666;
    font-size: 20px;
}
.alert-danger {
    
    margin: 5px;
}
.alert-danger ul {
    padding: 5px;
    margin: 5px;
}
.alert-danger ul li {
    font-size: 12px;
    font-family: tahoma;
    margin-bottom: 4px;
}

.form-control {
    max-width: 400px;
}

.control-label {
    font-weight: normal;
}

.error {
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 3px solid #D8534F;
    padding-top: 10px;
    background-color: #FDF7F7;
    color: #D8534F;
    padding-bottom: 5px;
    font-size: 12px;
    min-height: 30px;
    padding-right: 10px;
}
.error p {
    font-size: 14px;
    color: #E27875;
    margin-right: 5px;
}
