{% extends "Luna_admin/admin_master.html" %} 
{% load staticfiles %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'Luna_admin/style/Login/index.css' %}" />
{% endblock %}
{% block body_script %}
	<script type='text/javascript' src="{% static 'Luna_admin/script/user/add_edit_user.js' %}"></script>
{% endblock %}
{% block content %}




 <div id="userFormErrors"></div>

        <div class="form_head"><span class="icon glyphicon glyphicon-repeat"></span>ثبت کاربر</div>
<form class="form-horizontal" id="userForm" name="userForm" action="{% url 'Luna_admin:add_edit_user'%}" method="post">
{% csrf_token %}
<input type="hidden" value="{{user.id}}" name="use_id" id="use_id" />
<div class="control-group">
<label class="control-label" for="first_name">نام</label>
<div class="controls">
<input type="text" id="first_name" name="first_name" value="{{user.first_name}}"  placeholder="نام" class = "form-control">
</div>
</div>

<div class="control-group">
<label class="control-label" for="last_name">نام خانوادگی</label>
<div class="controls">
<input type="text" id="last_name" name="last_name" value="{{user.last_name}}"  placeholder="نام خانوادگی" class = "form-control">
</div>
</div>

<div class="control-group">
<label class="control-label" for="username">نام کاربری</label>
<div class="controls">
<input type="text" id="username" name="username" value="{{user.username}}"  placeholder="نام کاربری" class = "form-control">
</div>
</div>

<div class="control-group">
<label class="control-label" for="password">گذرواژه</label>
<div class="controls">
<input type="password" name="password" id="password" placeholder="گذرواژه" class = "form-control">
</div>
</div>
<div class="control-group">
<label class="control-label" for="password_repeat">تکرار گذرواژه</label>
<div class="controls">
<input type="password" name="password_repeat" id="password_repeat" placeholder="تکرار گذرواژه" class = "form-control">
</div>
</div>
<div class="control-group">
<div class="controls">
<button type="submit" class="btn btn-primary">ثبت تغییرات</button>
</div>
</div>

</form>
<div class="control-group" style="float:left;">
<div class="controls">
<a href="{% url 'Luna_admin:user_list'%}">
<button class="btn btn-primary">بازگشت به مدیریت کاربران</button>
</a>
</div>
</div>
 {% endblock %} 
