{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block page_title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{# style #}
		<link rel="stylesheet" type="text/css" href="{% static 'Luna_admin/style/bootstrap-rtl.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Luna_admin/style/master_style.css' %}" />
		{% block style %}{% endblock %}
	{# /style #}

	{# head scripts #}
		<script type='text/javascript' src="{% static 'Luna_admin/script/respond.js' %}"></script>
		{% block head_script %}{% endblock %}
	{# /head scripts #}

</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top TopMenu" role="navigation">
		<div class="">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			<a class="navbar-brand logo" href="#">LUNASOFT</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class=""><a href="{% url 'RealEstate_admin:home' %}">خانه</a></li>
					<li><a href="{% url 'RealEstate_admin:fileIndex' %}">مديريت فايل ها</a></li>
					<li><a href="{% url 'RealEstate_admin:endDeals' %}">معامله های در حال اتمام</a></li>
					<li class=""><a href="{% url 'RealEstate_admin:propertyRequests' %}">مدیریت درخواستها</a></li>
					<li><a href="{% url 'Luna_admin:user_list' %}">مديريت کاربران</a></li>
					<li><a href="{% url 'Luna_admin:sendSms' %}">مدیریت SMS</a></li>
					<li><a href="{% url 'RealEstate_admin:contactUs' %}">درخواستهای مشاوره</a></li>
					<li><a href="{% url 'RealEstate_admin:add_edit_profile' %}">مشخصات بنگاه</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="shortcutMenu">
		<ul class="nav nav-pills">
			<li><a href="#">
				<span class="glyphicon glyphicon-user"></span>کاربر  : {{request.user.username}}
				
			</a></li>
			<li><a href="{% url 'Luna_admin:change_password' %}">
				<span class="glyphicon glyphicon-repeat"></span>تغییر گذرواژه
			</a></li>
			<li><a href="{% url 'Luna_admin:signout' %}">
				<span class="glyphicon glyphicon-off"></span>خروج
			</a></li>
		</ul>
	</div>
	<div class="container content">

	<div class="title"><span class="'glyphicon glyphicon-list-alt'"></span> {% block content_title %}{% endblock %}
    </div>
	{% if messages %}
           {% for message in messages %}
           
              <div {% if message.tags %} class="{{ message.tags }}"{% endif %} >
              {% ifequal message.tags 'error' %}
              	<span class='glyphicon glyphicon-remove'></span>
              {% else %}
              	<span class='glyphicon glyphicon-ok'></span>
              {% endifequal %}
              	{{ message }}
              </div>
           {% endfor %}
        {% endif %}
	{# main container #}
		{% block content %}	{% endblock %}
	{# /main container #}
	</div>

<div class="copyright">
			کلیه حقوق این سامانه متعلق به گروه توسعه نرم افزار 	<a href="http://www.lunasoft.ir" target="_blank">لونا سافت</a> می باشد .  2014&copy; <img src="{%static 'style/img/LunaLogo.png'%}" alt="luna" />
		</div>
	{# body scripts #}
		<script type='text/javascript' src="{% static 'Luna_admin/script/jquery-1.10.2.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'Luna_admin/script/bootstrap-rtl.js' %}"></script>
		<script type='text/javascript' src="{% static 'Luna_admin/script/validate.js' %}"></script>
		{% block body_script %}{% endblock %}
	{# /body scripts #}
</body>
</html>
