{% extends "Luna_admin/admin_master.html" %} 
{% load staticfiles %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'Luna_admin/style/Login/index.css' %}" />
{% endblock %}
{% block body_script %}
	<script src="{% static 'Luna_admin/script/user/change_password.js' %}"></script>
{% endblock %}
{% block content %}

 <div>
        <div class="form_head"><span class="icon glyphicon glyphicon-repeat"></span>تغییر گذرواژه</div>
<div id="changePassFormErrors"> </div>
<form class="form-horizontal" id="changePassForm" name="changePassForm" action="{% url 'Luna_admin:change_password' %}" method="post">
{% csrf_token %}

<div class="control-group">
<label class="control-label" for="old_pass">گذرواژه قبلی</label>
<div class="controls">
<input type="password" name="old_pass" id="old_pass" placeholder="گذرواژه قبلی" class = "form-control">
</div>
</div>
<div class="control-group">
<label class="control-label" for="new_pass">گذرواژه جدید</label>
<div class="controls">
<input type="password" name="new_pass" id="new_pass" placeholder="گذرواژه جدید" class = "form-control">
</div>
</div>
<div class="control-group">
<label class="control-label" for="repeat_new_pass">تکرار گذرواژه جدید</label>
<div class="controls">
<input type="password" name="repeat_new_pass" id="repeat_new_pass" placeholder="تکرار گذرواژه جدید" class = "form-control">
</div>
</div>
<div class="control-group">
<div class="controls">
<button type="submit" class="btn btn-primary">تغییر گذرواژه</button>
</div>
</div>
</form>
</div>
 {% endblock %} 
