{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>ورود به مدیریت</title>
		<link rel="stylesheet" type="text/css" href="{% static 'Luna_admin/style/bootstrap-rtl.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'Luna_admin/style/Login/index.css' %}" />
	</head>
	<body>
	 <div class="container content">
        <div class="form_head"><span class="icon glyphicon glyphicon-log-in"></span>ورود به مدیریت</div>
{% if messages %}
           {% for message in messages %}
           
              <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {% ifequal message.tags 'error' %}
              	<span class='glyphicon glyphicon-remove'></span>
              {% else %}
              	<span class='glyphicon glyphicon-ok'></span>
              {% endifequal %}
              	{{ message }}
              </div>
           {% endfor %}
        {% endif %}
<form class="form-horizontal" name="Login" id="Login" action="{% url 'Luna_admin:login' %}" method="post">
{% csrf_token %}
<div class="control-group">
<label class="control-label" for="username">نام کاربری</label>
<div class="controls">
<input type="text" id="username" name="username" value="{{username}}" placeholder="" class = "form-control">
</div>
</div>
<div class="control-group">
<label class="control-label" for="password">گذرواژه</label>
<div class="controls">
<input type="password" name="password" id="password"  placeholder="" class = "form-control">
</div>
</div>
<div class="control-group">
<div class="controls" style="margin-top:15px;margin-bottom:15px;direction:ltr">
<button type="submit" class="btn btn-primary " style="width:100px;"> ورود </button>
</div>
</div>
</form>
</div>
 	</body>
  </html>
