﻿{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'Luna_admin/style/sms/index.css' %}" />
{% endblock %}
{% block body_script %}
	<script  src="{% static 'Luna_admin/script/validate.js' %}"></script>
	<script src="{% static 'Luna_admin/script/sms/sendsms.js' %}"></script>
{% endblock %}
        {% block page_title %}{% block content_title %}ارسال پیامک {% endblock %}{% endblock %}
{% block content %}

<div>
        <div class="form_head"><span class="icon glyphicon glyphicon-phone"></span>ارسال پیامک </div>
         {% if remaining_credit %}
        <div> 
        	اعتبار باقیمانده:  {{ remaining_credit }} ریال
        </div>
        {% endif %}
<div id="sendSmsFormErrors"></div>
<form class="form-horizontal" id="sendSmsForm" name="sendSmsForm" role="form" method="POST" action="{% url 'Luna_admin:sendSms' %}">
   {% csrf_token %}
    
   <div class="control-group">
                <label for="sender_no" class="control-label">شماره های ارسال <span class="required">*</span></label>
                <div class="controls">
                    <textarea class="form-control" id="sender_no" name="sender_no">{{sms.cell_no|default_if_none:''}}</textarea>
                   
                </div>
    </div>

   
   
            <div class="control-group">
                <label for="text" class="control-label">متن پیامک <span class="required">*</span></label>
                <div class="controls">
                    <textarea class="form-control" name="text" id="text">{{sms.default_text|default_if_none:''}}</textarea>
                </div>
                <div id="remainingChars"></div>
            	</div>
        </div>

 

  
    <div class="control-group">
<div class="controls">
        <button id="sendSmsBtn" type="submit" class="btn btn-primary">ارسال پیامک</button>
   </div>
</div>
</form>
</div>
 {% endblock %} 
