{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% load luna_filters %}
{% block page_title %}{% block content_title %}مدیریت کاربران{% endblock %}{% endblock %}
{% block body_script %}
	<script  src="{% static 'Luna_admin/script/validate.js' %}"></script>
{% endblock %}
{% block content %}

<div class="thumbnail">
	{% if not users %}
		<p class="notFind"><span class="glyphicon glyphicon-minus"></span>کاربری ثبت نشده است</p>
	{% else %}
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr><td>نام کاربری</td><td>نام</td><td>نام خانوادگی</td><td>تاریخ ثبت کاربر</td><td>آخرین ورود به سیستم</td><td>تغییر وضعیت کاربر</td></tr>
            </thead>
            <tbody>
			{% for user in users %}
			  <tr><td>{{user.username}}</td><td>{{user.first_name}}</td><td>{{user.last_name}}</td><td>{{user.date_joined| persian_date}}</td><td>{{user.last_login| persian_date}}</td>



<form class="form-horizontal" method="POST" action="{% url 'Luna_admin:change_user_active_status' user.id %}">
{% csrf_token %}
			  <td>
				
				 <button style="background-color:transparent;border:none;color:blue;">
					{% if user.is_active %}
						<span class="glyphicon glyphicon-remove"></span>
					{% else %}
						<span class="glyphicon glyphicon-ok"></span>
					{% endif %}
			 	</button>
			  </td>

</form>




</tr>
			{% endfor %}
            </tbody>
        </table>
  <ul class="pagination">
		 {% if users.has_previous %}
			<li><a href="?page={{ users.previous_page_number }}"><</a></li>
        {% endif %}

        <li class="active"><a href=#>
            صفحه {{ users.number }} از {{ users.paginator.num_pages }}
        </a></li>

        {% if users.has_next %}
            <li><a href="?page={{ users.next_page_number }}">></a></li>
        {% endif %}
       
</ul>
	{% endif %}

</div>
{% comment %} ثبت کاربر جدید{% endcomment %}
 
<div class="">
  <a href="{% url 'Luna_admin:add_edit_user' %}">
    <button type="button" class="btn btn-primary btn-sm "><span class="glyphicon glyphicon-plus"></span>ثبت کاربر جدید</button>
   </a>
</div>






{% endblock %}
