{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% load luna_filters %}
{% block page_title %}{% block content_title %}{{ editable_file }}{% endblock %}{% endblock %}
{% block body_script %}
	<script  src="{% static 'Luna_admin/script/validate.js' %}"></script>
	<script  src="{% static 'Luna_admin/script/jquery.maskedinput.min.js'%}"></script>
	<script src="{% static 'RealEstate_admin/script/file/GetDeal.js' %}"></script>
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-sm-3">
     {% include "RealEstate_admin/file/edit_file_menu_include.html" %} 
    </div>
    <div class="col-sm-9">
		{% if not active_deal %}
				<p class="notFind"><span class="glyphicon glyphicon-minus"></span>معامله جاری وجود ندارد</p>
			<form  action="{% url 'RealEstate_admin:addNewDeal' %}" method="POST">
			{% csrf_token %}
				<input type="hidden" value="{{editable_file.pk}}" name="file_id" />
			<p><input type='submit' value='ثبت معامله جدید' class="btn btn-success"><p>
			</form>
		{% else %}
			


            <div id="EditDealFormError"></div>
            <form class="form-horizontal" role="form" action="{% url 'RealEstate_admin:editDeal' %}" method="POST" id="EditDeal" name="EditDeal">
            {% csrf_token %}
		<input type="hidden" value="{{active_deal.id}}" name="deal_id" />
		<input type="hidden" value="{{editable_file.pk}}" name="file_id" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="deal_type" class="col-sm-4 control-label">نوع معامله</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="deal_type" id="deal_type" >
                                    {% for key,val in active_deal.DEAL_TYPE %}
                                    	{% ifequal active_deal.deal_type key %}
                                    		<option  value="{{ key }}" selected>{{ val }}</option>
                                    	{% else %}
                                    		<option  value="{{ key }}">{{ val }}</option>
                                    	{% endifequal %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                  
                        <div class="form-group">
                            <label for="bazdid_type" class="col-sm-4 control-label">نحوه بازدید</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="bazdid_type" id="bazdid_type">
                                   {% for key,val in active_deal.BAZDID_TYPE %}
                                    	{% ifequal active_deal.bazdid_type key %}
                                    		<option  value="{{ key }}" selected>{{ val }}</option>
                                    	{% else %}
                                    		<option  value="{{ key }}">{{ val }}</option>
                                    	{% endifequal %}
                                    {% endfor %}
                                </select>

                            </div>
 
    
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name_mostajer_ya_negahban" class="col-sm-4 control-label">نام مستاجر/نگهبان</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="name_mostajer_ya_negahban" name="name_mostajer_ya_negahban" placeholder=""   value="{{ active_deal.name_mostajer_ya_negahban|default_if_none:'' }}">
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="tell_mostajer_ya_negahban" class="col-sm-4 control-label">تلفن مستاجر/نگهبان</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="tell_mostajer_ya_negahban" name="tell_mostajer_ya_negahban" placeholder=""  value="{{ active_deal.tell_mostajer_ya_negahban|default_if_none:'' }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="tarikhe_takhliye" class="col-sm-4 control-label">تاریخ تخلیه</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="tarikhe_takhliye"  name="tarikhe_takhliye" placeholder=""  value="{{ active_deal.tarikhe_takhliye | persian_date  }}">
                            </div>
                        </div>

                    </div> 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="total_price" class="col-sm-4 control-label">قیمت کل</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="total_price" name="total_price" placeholder=""   value="{{ active_deal.total_price|default_if_none:'' }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="meter_price" class="col-sm-4 control-label">قیمت هر متر</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="meter_price" name="meter_price" placeholder="" value="{{ active_deal.meter_price |default_if_none:''}}">
                            </div>
                        </div>

                    </div> 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="rahne_kamel_price" class="col-sm-4 control-label">رهن کامل</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="rahne_kamel_price" name="rahne_kamel_price" placeholder="" value="{{ active_deal.rahne_kamel_price|default_if_none:''}}"  >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                       
 <div class="form-group">
                            <label for="rahn_price" class="col-sm-4 control-label">رهن</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="rahn_price" name="rahn_price" placeholder="" value="{{ active_deal.rahn_price|default_if_none:''}}">
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ejare_price" class="col-sm-4 control-label">اجاره</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="ejare_price" name="ejare_price" placeholder="" value="{{ active_deal.ejare_price|default_if_none:''}}">
                            </div>
                        </div>
                    </div>
                </div>

     
                <div class="row">
                    <div class="col-md-6">
                       
 <div class="form-group">
                            <label for="ghabel_tabdil" class="col-sm-4 control-label">قابل تبدیل</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="ghabel_tabdil" name="ghabel_tabdil" placeholder="" value="{{ active_deal.ghabel_tabdil|default_if_none:''}}">
                            </div>
                        </div>
                    </div> 
                    <div class="col-md-6">
                 
            <div class="form-group">
                            <label for="charge_price" class="col-sm-4 control-label">مبلغ شارژ</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="charge_price" name="charge_price" placeholder="" value="{{ active_deal.charge_price|default_if_none:''}}">
                            </div>
                        </div>
                    </div>
                </div>

{% if not active_deal.is_synced %}

<div class="row">
                     <div class="col-sm-2"></div>
                                <div  class="col-sm-10" style="margin-bottom:20px;">
                       
                           <label class="checkbox">
  <input type="checkbox" name="is_synced" id="is_synced">  ارسال به سامانه شیش دونگ
</label>

                        </div>
                    </div>                  
                
{% endif %}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">ثبت تغییرات</button>
                        <input type='button' class="btn btn-primary" id='end_deal_btn'  value="پایان معامله"  data-toggle="modal" data-target="#myModal"/>


                    </div>
                </div>
            </form>
<!--<form class="form-horizontal" role="form" method="POST"  action='{% url 'RealEstate_admin:endDeal' %}'>
  <button type="submit" class="btn btn-default">هماهنگ سازی با سرور</button>
</form>-->
            
		{% endif %}
		{% if inactive_deals %}
		<p class='title2'><span class='glyphicon glyphicon-time' ></span>لیست معاملات قبلی</p>
		<table class='table table-responsive table-striped table-hover'>
			<thead>
				<tr>
					<td>#</td>
					<td>نام </td>
					<td>نام خانوادگی</td>
					<td>تلفن</td>
					<td>تاریخ پایان معامله</td>
					<td>توضیحات</td>
				</tr>
			</thead>
			<tbody>
				{% for deal in inactive_deals %}
				<tr>
					<td>{{forloop.counter}}</td>
					<td>{{deal.deal_name}}</td>
					<td>{{deal.deal_family}}</td>
					<td>{{deal.deal_cell}}</td>
					<td>{{deal.deal_end_date|persian_date}}</td>
					<td>{{deal.deal_description}}</td>
				</tr>
				{% endfor %}
			</tbody> 
		</table>
		{% endif %}
    </div>
</div>

{# end deal modal ----------------------------------------------------#}
   <div class="modal fade  "   id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">پایان معامله (اطلاعات طرف معامله را وارد کنید)</h4>
      </div>
      <div class="modal-body">
        <div id="end_dealFormErrors"></div>
          <form class="form-horizontal" role="form" id="end_deal" name="end_deal" method="POST"  action='{% url 'RealEstate_admin:endDeal' %}'>
          
            {% csrf_token %}
            		<input type="hidden" value="{{active_deal.id}}" name="deal_id" />
		<input type="hidden" value="{{editable_file.pk}}" name="file_id" />
              <div class="row">
                  <div class="col-sm-6">
                       <div class="form-group">
                                 <label for="deal_name" class="col-sm-5 control-label small-font">  نام </label>
                                 <div class="col-sm-7">
                                     <input type="text" class="form-control" id="deal_name" name="deal_name" >
                                 </div>
                       </div>

                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                    <label for="deal_family" class="col-sm-5 control-label small-font" >نام خانوادگی </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="deal_family" id="deal_family" >
                    </div>
                </div>
                  </div>
              </div>
  
               <div class="row">
              <div class="col-sm-6">
                
                  <div class="form-group">
                      <label for="deal_cell" class="col-sm-5 control-label">تلفن همراه</label>
                      <div class="col-sm-7">
                          <input type="text" class="form-control" name="deal_cell" id="deal_cell" >
                      </div>
                  </div>
              </div>
                   <div class="col-sm-6">
                        <div class="form-group">
                  <label for="end_deal_date" class="col-sm-5 control-label">تاریخ پایان قرارداد </label>
                  <div class="col-sm-7">
                      <input type="text" class="form-control" name="end_deal_date" id="end_deal_date" >
                  </div>
                  
              </div>
              </div></div>
              <div class='row'>
					<div class='col-sm-3 control-label'>
						<label for="deal_description" class="col-sm-5 control-label">توضیحات </label>
					</div>
					<div class='col-sm-9'>
						<textarea  name='deal_description' class="form-control"></textarea>
					</div>
              </div>
                   
                
             
              
             

                <div class="form-group modal-footer">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary"> ثبت اطلاعات</button>
                      
                    </div>
                </div>
            </form>
          

      </div>
    
    </div>
  </div>
{#--------------------------------------------------------------------#}
{% endblock %}
