<ul class="nav nav-pills nav-stacked">
    <li class="{{ deal }}"><a href="../../editfile/{{ editable_file.pk }}/deal">معامله</a></li>
    <li class="{{ detail }}"  ><a href="../../editfile/{{ editable_file.pk }}/detail">مشخصات </a></li>
    <li class="{{ options }}"><a href="../../editfile/{{ editable_file.pk }}/options">امکانات </a></li>
    <li class="{{ images }}"><a href="../../editfile/{{ editable_file.pk }}/images">عکس ها </a></li>
</ul>
