{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% block page_title %}{% block content_title %}{{ editable_file }}{% endblock %}{% endblock %}
{% block body_script %}
	<script  src="{% static 'Luna_admin/script/validate.js' %}"></script>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-3">
     {% include "RealEstate_admin/file/edit_file_menu_include.html" %} 
    </div>
    <div class="col-sm-9">
            <form class="form-horizontal" role="form" action="{% url 'RealEstate_admin:editOptions' editable_file.pk %}" method="POST">
            {% csrf_token %}
<input type="hidden" value="{{option.id}}" name="option_id" />
		<input type="hidden" value="{{editable_file.pk}}" name="file_id" />

        <div class="row">
         <div class="col-md-6">
    <div class="form-group">
                <label for="sarmayesh" class="col-sm-4 control-label ">سرمایش</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" value="{{ option.sarmayesh|default_if_none:'' }}" id="sarmayesh" name="sarmayesh" placeholder="" >
                </div>
            </div>
         </div> 
         <div class="col-md-6">
                      <div class="form-group">
                <label for="garmayesh" class="col-sm-4 control-label ">گرمایش</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="garmayesh" name="garmayesh" value="{{ option.garmayesh }}" >
                </div>
            </div>
         </div>
     </div>

  <div class="row">
         <div class="col-md-6">
         <div class="form-group">
                <label for="kaf_saloon" class="col-sm-4  control-label">کف سالن</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="kaf_saloon" value="{{ option.kaf_saloon }}">
                </div>
            </div>

         </div> 
         <div class="col-md-6">
                  <div class="form-group">
                <label for="kaf_khabha" class="col-sm-4 control-label ">کف خواب ها</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="kaf_khabha" value="{{ option.kaf_khabha }}">
                </div>
            </div>
         </div>
     </div>

<div class="row">     
         <div class="col-md-6">
                  <div class="form-group">
                <label for="badane_divar" class="col-sm-4  control-label">بدنه / دیوار</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="badane_divar" value="{{ option.badane_divar }}">
                </div>
            </div>
         </div>

     </div>



          <div class="row" >
         <div class="form-group">
             <label for="inputEmail3" class="col-sm-2 control-label ">توضیحات</label>

                <div class="col-sm-10">
                 <textarea class="form-control fullWidth" rows="3" name="tozihat">{{ option.tozihat }}</textarea>

                </div>
            </div>

         </div> 


            <div class="row">
                
                <div class="col-sm-4">
                    
        <label class="checkbox ">
  <input type="checkbox" id="gaaz_va_fer_tookar" name="gaaz_va_fer_tookar" {% if option.gaaz_va_fer_tookar %} checked {% endif %}  > گاز و فر توکار
</label>
 <label class="checkbox ">
  <input type="checkbox" id="Open" name="Open" {% if option.Open %} checked {% endif %}> اوپن
</label>

<label class="checkbox ">
  <input type="checkbox" name="iphone" {% if option.iphone %} checked {% endif %}> آیفون
</label>



<label class="checkbox ">
  <input type="checkbox" name="parde" {% if option.parde %} checked {% endif %}> پرده
</label>
<label class="checkbox ">
  <input type="checkbox" name="komod" {% if option.komod %} checked {% endif %}> کمد
</label>
<label class="checkbox ">
  <input type="checkbox" name="looster" {% if option.looster %} checked {% endif %}> لوستر
</label>



<label class="checkbox ">
  <input type="checkbox" name="shoomine" {% if option.shoomine %} checked {% endif %}> شومینه
</label>
<label class="checkbox ">
  <input type="checkbox" name="master" {% if option.master %} checked {% endif %}> مستر
</label>
<label class="checkbox ">
  <input type="checkbox" name="kabin_doosh" {% if option.kabin_doosh %} checked {% endif %}> کابین دوش
</label>


<label class="checkbox ">
  <input type="checkbox" name="mahvare_markazi" {% if option.mahvare_markazi %} checked {% endif %}> ماهواره مرکزی
</label>
<label class="checkbox ">
  <input type="checkbox"name="internet_wireless" {% if option.internet_wireless %} checked {% endif %}> اینترنت وایرلس
</label>
                </div>            
                <div class="col-sm-4">
                    

<label class="checkbox ">
  <input type="checkbox" name="noorpardazi" {% if option.noorpardazi %} checked {% endif %}> نورپردازی
</label>
<label class="checkbox ">
  <input type="checkbox" name="noorgir_pasiyo" {% if option.noorgir_pasiyo %} checked {% endif %}> نورگیر / پاسیو
</label>
<label class="checkbox ">
  <input type="checkbox" name="tras" {% if option.tras %} checked {% endif %}> تراس
</label>



<label class="checkbox ">
  <input type="checkbox" name="anbari" {% if option.anbari %} checked {% endif %}> انباری
</label>
<label class="checkbox ">
  <input type="checkbox" name="parking" {% if option.parking %} checked {% endif %}> پارکینگ
</label>
<label class="checkbox ">
  <input type="checkbox" name="asansor" {% if option.asansor %} checked {% endif %}> آسانسور
</label>



<label class="checkbox ">
  <input type="checkbox" name="darb_automatik" {% if option.darb_automatik %} checked {% endif %}> درب اتوماتیک
</label>
<label class="checkbox ">
  <input type="checkbox" name="vorudi_zed_serghat" {% if option.vorudi_zed_serghat %} checked {% endif %}> ورودی ضد سرقت
</label>
<label class="checkbox ">
  <input type="checkbox" name="hayate_ekhtesasi" {% if option.hayate_ekhtesasi %} checked {% endif %}> حیات اختصاصی
</label>


<label class="checkbox ">
  <input type="checkbox" name="jarubarghi_markazi" {% if option.jarubarghi_markazi %} checked {% endif %}> جاروبرقی مرکزی
</label>



<label class="checkbox ">
  <input type="checkbox" name="shooting_zobale" {% if option.shooting_zobale %} checked {% endif %}> شوتینگ زباله
</label>
<label class="checkbox ">
  <input type="checkbox" name="kabinet" {% if option.kabinet %} checked {% endif %}> کابینت
</label>
                </div>            
                <div class="col-sm-4">
                <label class="checkbox ">
  <input type="checkbox" name="labi" {% if option.labi %} checked {% endif %}> لابی
</label>
<label class="checkbox ">
  <input type="checkbox" name="salon_ejtemaat" {% if option.salon_ejtemaat %} checked {% endif %}> سالن اجتماعات
</label>
<label class="checkbox ">
  <input type="checkbox" name="liting" {% if option.liting %} checked {% endif %}> لایتینگ
</label>



<label class="checkbox ">
  <input type="checkbox" name="estakhr" {% if option.estakhr %} checked {% endif %}> استخر
</label>
<label class="checkbox ">
  <input type="checkbox" name="sona" {% if option.sona %} checked {% endif %}> سونا
</label>
<label class="checkbox ">
  <input type="checkbox" name="jakuzi" {% if option.jakuzi %} checked {% endif %}> جکوزی
</label>



<label class="checkbox ">
  <input type="checkbox" name="salon_varzesh" {% if option.salon_varzesh %} checked {% endif %}> سالن ورزش
</label>
<label class="checkbox ">
  <input type="checkbox" name="roof_garden" {% if option.roof_garden %} checked {% endif %}> روف گاردن
</label>
<label class="checkbox ">
  <input type="checkbox" name="barbecu" {% if option.barbecu %} checked {% endif %}> باربیکیو
</label>
    



<label class="checkbox ">
  <input type="checkbox" name="elam_harigh" {% if option.elam_harigh %} checked {% endif %}> اعلام حریق
</label>
<label class="checkbox ">
  <input type="checkbox" name="etfa_harigh" {% if option.etfa_harigh %} checked {% endif %}> اطفا حریق
</label>



<label class="checkbox ">
  <input type="checkbox" name="ab_taht_feshar" {% if option.ab_taht_feshar %} checked {% endif %}> آب تحت فشار
</label>

                </div>            

            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">ثبت تغییرات</button>
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}
