{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% block page_title %}{% block content_title %}{{ editable_file }}{% endblock %}{% endblock %}

{% block body_script %}
	<script  src="{% static 'Luna_admin/script/validate.js' %}"></script>
	<script src="{% static 'RealEstate_admin/script/file/GetDetail.js' %}"></script>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-3">
     {% include "RealEstate_admin/file/edit_file_menu_include.html" %} 
    </div>
    <div class="col-sm-9">
    
    
    


<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">مشخصات مالک</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
       <div id="EditOwnerDetailFormError"></div>
          <form class="form-horizontal" role="form" method="POST" action="{% url 'RealEstate_admin:editOwnerDetail' %}" name="EditOwnerDetail" id="EditOwnerDetail">
               {% csrf_token %}
		<input type="hidden" value="{{editable_file.pk}}" name="file_id" />
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="owner_name" class="col-sm-4 control-label">نام</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="owner_name" name="owner_name"  value="{{editable_file.owner_name|default_if_none:''}}">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="owner_family" class="col-sm-4 control-label">نام خانوادگی<span class="required">*</span></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="owner_family" name="owner_family"  value="{{editable_file.owner_family|default_if_none:''}}">
                          </div>
                      </div>
                  </div>
              </div>
          

            

              <div class="row">
                  <div class="col-md-6">
            
                      <div class="form-group">
                          <label for="owner_cell" class="col-sm-4 control-label">تلفن همراه<span class="required">*</span> </label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="owner_cell" name="owner_cell"  value="{{editable_file.owner_cell|default_if_none:''}}">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="owner_tell" class="col-sm-4 control-label">تلفن ثابت</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="owner_tell" name="owner_tell" value="{{editable_file.owner_tell|default_if_none:''}}" >
                          </div>
                      </div>
                  </div></div>

              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">ثبت تغییرات</button>
                  </div>
              </div>
          </form>




      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> مشخصات ملک </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
         <div id="EditPropertyDetailFormError"></div>
 <form class="form-horizontal" role="form" id="EditPropertyDetailForm" name="EditPropertyDetailForm"
  method="POST" action="{% url 'RealEstate_admin:editPropertyDetail' %}"
 >
  {% csrf_token %}
  		<input type="hidden" value="{{editable_file.pk}}" name="file_id" />
  		<input type="hidden" value="{{editable_file.property_detail.id}}" name="property_detail_id">
          <div class="row">
              <div class="col-md-6">
                          <div class="form-group">
                <label for="property_type" class="col-sm-4 control-label">نوع ملک</label>
                <div class="col-sm-8">
                    <select class="form-control" name="property_type" id="property_type">
         {% for key,val in editable_file.property_detail.PROPERTY_TYPE %}
         	{% ifequal editable_file.property_detail.property_type key %}
         	<option value='{{key}}' selected >{{val}}</option>
         	{% else %}
         	<option value='{{key}}'>{{val}}</option>
         	{% endifequal %}
         	
         {% endfor %}
                    </select>
                </div>
            </div>
              </div> 
              <div class="col-md-6">
                  
            <div class="form-group  hidden" id="OtherPropertyTypeGroup">
                <label for="other_property_type_name" class="col-sm-4 control-label ">سایر</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="other_property_type_name" name="other_property_type_name" value="{{editable_file.property_detail.other_property_type_name|default_if_none:''}}">
                </div>
            </div>

              </div>
          </div>
     <div class="row">
         <div class="col-md-6">
             <div class="form-group">
                 <label for="usage_type" class="col-sm-4 control-label">نوع کاربری</label>
                 <div class="col-sm-8">
                     <select class="form-control" name="usage_type" id="usage_type">
                         {% for key,val in editable_file.property_detail.USAGE_TYPE %}
                         	{% ifequal editable_file.property_detail.usage_type key %}
                         		<option value="{{key}}" selected>{{val}}</option>
                         	{% else %}
                         		<option value="{{key}}">{{val}}</option>
                         	{% endifequal %}
                         {% endfor %}
                     </select>
                 </div>
             </div>
         </div> 
         <div class="col-md-6">
             <div class="form-group hidden" id="OtherUsageType" >
                 <label for="" class="col-sm-4 control-label">سایر</label>
                 <div class="col-sm-8">
                     <input type="text" class="form-control" id="other_usage_type_name" name="other_usage_type_name" value="{{editable_file.property_detail.other_usage_type_name|default_if_none:''}}">
                 </div>
             </div>

         </div>
     </div>

 <div class="form-group">
                <label for="" class="col-sm-2 control-label">آدرس کامل<span class='required'>*</span></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control fullWidth "  id="address" name="address"
                    value="{{editable_file.property_detail.address |default_if_none:''}}"
                    >
                   
                </div>
            </div>
  


     <div class="row">
             <div class="col-md-6">
  <div class="form-group">
                <label for="" class="col-sm-4 control-label">محدوده</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="area" name="area"
                    value="{{editable_file.property_detail.area|default_if_none:''}}"
                    >
                </div>
            </div>
         </div>
         <div class="col-md-6">
  <div class="form-group">
                <label for="" class="col-sm-4 control-label">تعداد خواب</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="no_bedrooms" name="no_bedrooms"
                    value="{{editable_file.property_detail.no_bedrooms|default_if_none:''}}"
                    >
                </div>
            </div>
         </div> 

     </div>

     <div class="row">
         <div class="col-md-6">
                        <div class="form-group">
                <label for="" class="col-sm-4 control-label">تعداد طبقات</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="floors" name="floors"
                    value="{{editable_file.property_detail.floors|default_if_none:''}}"
                    >
                </div>
            </div>
         </div>
            <div class="col-md-6">

            <div class="form-group">
                <label for="" class="col-sm-4 control-label">طبقه</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="no_floor" name="no_floor"
                    value="{{editable_file.property_detail.no_floor|default_if_none:''}}"
                    >
                </div>
            </div>
         </div>

     </div>
    <div class="row">
         <div class="col-md-6">
                      <div class="form-group">
                <label for="" class="col-sm-4 control-label">تعداد واحد</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="tedade_vahed" name="tedade_vahed"
                    value="{{editable_file.property_detail.tedade_vahed|default_if_none:''}}"
                    >
                </div>
            </div>

         </div>
         <div class="col-md-6">
                          <div class="form-group">
                <label for="" class="col-sm-4 control-label">مساحت زمین</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="masahat_zamin" name="masahat_zamin"
                    value="{{editable_file.property_detail.masahat_zamin|default_if_none:''}}"
                    >
                </div>
            </div>
         </div> 

     </div>
        <div class="row">
              <div class="col-md-6">
                              <div class="form-group">
                <label for="" class="col-sm-4 control-label">مساحت کل <span class='required'>*</span> </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="masahat_kol" name="masahat_kol"
                    value="{{editable_file.property_detail.masahat_kol|default_if_none:''}}"
                    >
                </div>
            </div>
         </div>
         <div class="col-md-6">
                          <div class="form-group">
                <label for="" class="col-sm-4 control-label">زیر بنا</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="zirbana" name="zirbana"
                    value="{{editable_file.property_detail.zirbana|default_if_none:''}}"
                    >
                </div>
            </div>
         </div> 

     </div>
<div class="row">
      <div class="col-md-6">
                              <div class="form-group">
                <label for="" class="col-sm-4 control-label">طول بر</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="ToolBar" name="ToolBar"
                    value="{{editable_file.property_detail.ToolBar|default_if_none:''}}"
                    >
                </div>
            </div>
         </div>
</div>

    



     <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">ثبت تغییرات</button>
                </div>
            </div>


        </form>


      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">سایر مشخصات</a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
       


          <form class="form-horizontal" role="form" name="editOtherPropertyDetail"
          method="POST" action="{% url 'RealEstate_admin:editOtherPropertyDetail' %}"
          >
          
           {% csrf_token %}
  		<input type="hidden" value="{{editable_file.pk}}" name="file_id" />
  		<input type="hidden" value="{{editable_file.property_detail.id}}" name="property_detail_id">
               <div class="row">
             <div class="col-md-6">
            
                 <div class="form-group">
                     <label for="zabete_sakht" class="col-sm-4 control-label">ضابطه ساخت </label>
                     <div class="col-sm-8">
                         <input type="text" class="form-control" id="zabete_sakht" name="zabete_sakht"
                                 value="{{editable_file.property_detail.zabete_sakht|default_if_none:''}}"
                         >
                     </div>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <label for="sene_bana" class="col-sm-4 control-label">سن بنا</label>
                     <div class="col-sm-8">
                         <input type="text" class="form-control" id="sene_bana" name="sene_bana"
                         value="{{editable_file.property_detail.sene_bana|default_if_none:''}}"
                         >
                     </div>
                 </div>
             </div></div>




              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="mogheiyat" class="col-sm-4 control-label">موقعیت</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="mogheiyat" name="mogheiyat"
                              value="{{editable_file.property_detail.mogheiyat|default_if_none:''}}"
                              >
                          </div>
                      </div>
                  </div>
                       <div class="col-md-6">
                          <div class="form-group">
                <label for="noe_saghf" class="col-sm-4 control-label">نوع سقف</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="noe_saghf" name="noe_saghf"
                    value="{{editable_file.property_detail.noe_saghf|default_if_none:''}}"
                    >
                </div>
            </div>
         </div> 
              </div>
                  <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="noe_sanad" class="col-sm-4 control-label">نوع سند</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="noe_sanad" name="noe_sanad"
                              value="{{editable_file.property_detail.noe_sanad|default_if_none:''}}"
                              >
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="vame_banki" class="col-sm-4 control-label">وام بانکی</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="vame_banki" name="vame_banki"
                              value="{{editable_file.property_detail.vame_banki|default_if_none:''}}"
                              >
                          </div>
                      </div>
                  </div>
              </div>
          

            
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="" class="col-sm-4 control-label">نما</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="nama" name="nama"
                              value="{{editable_file.property_detail.nama|default_if_none:''}}"
                              >
                          </div>
                      </div>
                  </div>
                             <div class="col-md-6">
                      <div class="form-group">
                          <label for="view_ya_manzare" class="col-sm-4 control-label">ویو/منظره</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="view_ya_manzare" name="view_ya_manzare"
                              value="{{editable_file.property_detail.view_ya_manzare|default_if_none:''}}"
                              >
                          </div>
                      </div>
                  </div>	
              </div>
          
       

              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">ثبت تغییرات</button>
                  </div>
              </div>
          </form>





      </div>
    </div>
  </div>
</div>





    </div>
</div>
    
    
    
    
    
    
    
    
    
    </div>
</div>
{% endblock %}
