{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% block page_title %}{% block content_title %}{{ editable_file }}{% endblock %}{% endblock %}
{% block body_script %}
	<script  src="{% static 'RealEstate_admin/script/file/image.js' %}"></script>
{% endblock %}
{% block content %}

<div class="row">
<div id="uploadFormErrors"></div>
    <div class="col-sm-3">
     {% include "RealEstate_admin/file/edit_file_menu_include.html" %} 
    </div>

  <form name="uploadForm" action="{% url 'RealEstate_admin:editFileImages' editable_file.pk %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
		<input type="hidden" value="{{editable_file.pk}}" name="file_id" />
    	<div class="col-sm-3">
    	<label for="caption" class="control-label">زیرنویس</label>
            <input type="text" name="caption">
        </div>
		
		<div class="col-sm-3">
		
				
				{{ form.pic }}
		
	    </div>
	    <div>
			<input type="submit"  class=" btn btn-default" value="بارگذاری عکس" />
	    </div>
						
	</form>
 </div>
 <div class="row">
<div class="col-sm-9 col-md-offset-3">	
{% if pictures %}
			<ul style="display:inline">
			{% for picture in pictures %}
				<li style="list-style:none;display:inline;margin:20px;">
					<a title="حذف تصویر" href="{% url 'RealEstate_admin:delete_image' editable_file.pk picture.id  %}">
<span class="glyphicon glyphicon-trash"></span></a>
<img width=100 height=100 						src="{{picture.pic.url}}" />
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>عکسی وجود ندارد.</p>
		{% endif %}
</div>
</div>
{% endblock %}
