{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% load luna_filters %}
{% block page_title %}{% block content_title %}مديريت فايل ها{% endblock %}{% endblock %}
{% block body_script %}
	<script  src="{% static 'Luna_admin/script/validate.js' %}"></script>
	<script src="{% static 'RealEstate_admin/script/file/index.js' %}"></script>
{% endblock %}
{% block content %}




<div class="thumbnail">

    <form class="form-inline" role="form" method="GET" action="{% url 'RealEstate_admin:fileIndex' %}" >
        <div class="form-group">
            <input type="text" class="form-control input-sm" id="code" name="code" placeholder=" کد فایل" value="{{code}}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-sm" id="fullname"  name="fullname" placeholder="نام یا نام خانوادگی مالک" value="{{fullname}}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-sm" id="s_area" name="s_area" placeholder="محدوده" value="{{s_area}}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-sm" id="no_bed" name="no_bed" placeholder="تعداد خواب" value="{{no_bed}}">
        </div>
        <div class="form-group">
             <select class="form-control" name="s_property_type" id="s_property_type">
                                  <option value="">---</option>
                                  <option value="apartment" {%ifequal s_property_type 'apartment'%}selected{%endifequal%}>آپارتمان</option>
                                  <option value="house" {%ifequal s_property_type 'house'%}selected{%endifequal%}>خانه( دربست ، طبقه ، کلنگی)</option>
                                  <option value="suite" {%ifequal s_property_type 'suite'%}selected{%endifequal%}>سوئیت (خانه ، آپارتمان)</option>
                                  <option value="shop" {%ifequal s_property_type 'shop'%}selected{%endifequal%}>مغازه</option>
                              </select>
        </div>
        <div class="form-group">
         <select class="form-control" id="s_deal_type" name="s_deal_type">
                        <option value="">---</option>
                        <option value="rahn_va_ejare" {%ifequal s_deal_type 'rahn_va_ejare'%}selected{%endifequal%}>رهن واجاره</option>
                        <option value="rahn_kamel" {%ifequal s_deal_type 'rahn_kamel'%}selected{%endifequal%}>رهن کامل</option>
                        <option value="forush_malekiyat" {%ifequal s_deal_type 'forush_malekiyat'%}selected{%endifequal%}>فروش مالکیت</option>
                        <option value="forush_sarghofly" {%ifequal s_deal_type 'forush_sarghofly'%}selected{%endifequal%}>فروش سرقفلی</option>
                        <option value="moaveze" {%ifequal s_deal_type 'moaveze'%}selected{%endifequal%}>معاوضه</option>
                        <option value="pish_forush" {%ifequal s_deal_type 'pish_forush'%}selected{%endifequal%}>پیش فروش</option>
                        <option value="mosharekat_dar_sakht" {%ifequal s_deal_type 'mosharekat_dar_sakht'%}selected{%endifequal%}>مشارکت در ساخت</option>
                    </select>
         </div>
	 <div class="form-group">
	<label class="checkbox ">آرشیو
           
       </label>
       </div>
       <div class="form-group">
       <input type="checkbox" style="width:15px;margin-left:20px;" class="form-control input-sm" id="search_archive" name="search_archive"  {% if search_archive %} checked {% endif %}>
       </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">جستجوی فایل</button></div>
    </form>

</div>


{% comment %} نمایش فایل ها{% endcomment %}

<div class="thumbnail">
	{% if not files %}
		<p class="notFind"><span class="glyphicon glyphicon-minus"></span>فایل ثبت نشده است</p>
	{% else %}
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr><td>کد فایل</td><td>تاریخ ثبت</td><td>نام و نام خانوادگی مالک</td><td>محدوده</td>
                    <td>نوع ملک</td><td>عکس</td>
                     <td>ویژه</td> <td>ویرایش</td>
                </tr>
            </thead>
            <tbody>
			{% for file in files %}
			  <tr><td>{{file.file_code}}</td>
                   <td>{{file.creation_date| persian_date}}</td>
                   <td>{{file.owner_name}} {{file.owner_family}}</td>
                   <td>{{file.property_detail.area}}</td>
                   <td>{{file.property_detail | format_property_type | safe}}</td>
                   <td> {% if file.picture_set.count %}<span class="glyphicon glyphicon-ok"></span>
			     {% else %}
			     <span class="glyphicon glyphicon-remove"></span>
			     {% endif %}
			       </td>
                   <td>

                       {%if file|is_special %}
                        <form class="form-horizontal" method="POST" action="{% url 'RealEstate_admin:delete_special' file.pk  %}">
                            {% csrf_token %}

                       <button style="background-color:transparent;border:none;color:blue;">
                       <span class="glyphicon glyphicon-star-empty"></span>
                           </button>
                            </form>
                       {%else %}
                       <form class="form-horizontal" method="POST" action="{% url 'RealEstate_admin:special' %}">
                             {% csrf_token %}
                           <input type="hidden" name="file_code" value="{{file.file_code}}" >
                       <button style="background-color:transparent;border:none;color:blue;">
                       <span class="glyphicon glyphicon-star"></span>
                            </button>
                       {% endif %}
                           </form>
			        </td>


			        <td> <a href="../admin/editfile/{{ file.pk }}/deal"><span class="glyphicon glyphicon-floppy-saved"></span></a></td>
			  </tr>
			{% endfor %}
            </tbody>
        </table>
  <ul class="pagination">
		 {% if files.has_previous %}
			<li><a href="{% url_add_query page=files.previous_page_number %}"><</a></li>
        {% endif %}

        <li class="active"><a href=#>
            صفحه {{ files.number }} از {{ files.paginator.num_pages }}
        </a></li>

        {% if files.has_next %}
            <li><a href="{% url_add_query page=files.next_page_number  %}">></a></li>
        {% endif %}
       
</ul>
	{% endif %}

</div>





        {% comment %}مشاهده جزییات فایل{% endcomment %}

          <div class="modal fade"   id="detailModal" tabindex="-1" role="dialog">
              <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">ثبت فایل جدید</h4>
      </div>
        <div class="modal-body">

            </div>
        </div>
                  </div>
          </div>


















{% comment %} ثبت فایل جدید{% endcomment %}
 
<div class="">
    <button type="button" class="btn btn-primary btn-sm "   data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>ثبت فایل جدید</button>
    <div class="modal fade  "   id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">ثبت فایل جدید</h4>
      </div>
      <div class="modal-body">
        <div id="addNewFileFormErrors"></div>
          <form class="form-horizontal" role="form" id="addNewFileForm" name="addNewFileForm" method="POST"  action="../admin/addnewfile">
            {% csrf_token %}
              <div class="row">
                  <div class="col-sm-6">
                       <div class="form-group">
                                 <label for="owner_name" class="col-sm-5 control-label small-font">نام</label>
                                 <div class="col-sm-7">
                                     <input type="text" class="form-control" id="owner_name" name="owner_name" >
                                 </div>
                       </div>

                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                    <label for="owner_family" class="col-sm-5 control-label small-font" >نام خانوادگی  <span class="required">*</span></label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="owner_family" id="owner_family" >
                    </div>
                </div>
                  </div>
              </div>
  
               <div class="row">
              <div class="col-sm-6">
                
                  <div class="form-group">
                      <label for="owner_cell" class="col-sm-5 control-label">تلفن همراه <span class="required">*</span></label>
                      <div class="col-sm-7">
                          <input type="text" class="form-control" name="owner_cell" id="owner_cell" >
                      </div>
                  </div>
              </div>
                   <div class="col-sm-6">
                        <div class="form-group">
                  <label for="area" class="col-sm-5 control-label">محدوده <span class="required">*</span></label>
                  <div class="col-sm-7">
                      <input type="text" class="form-control" name="area" id="area" >
                  </div>
              </div>
                   </div></div>
                
              <div class="row">
                  <div class="col-sm-6">



                      <div class="form-group">
                          <label for="property_type" class="col-sm-5 control-label">نوع ملک </label>
                          <div class="col-sm-7">
                              <select class="form-control" name="property_type" id="property_type">
                                  <option value="apartment">آپارتمان</option>
                                  <option value="house">خانه( دربست ، طبقه ، کلنگی)</option>
                                  <option value="suite">سوئیت (خانه ، آپارتمان)</option>
                                  <option value="shop">مغازه</option>
                                  <option value="other">سایر</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group hidden" id="OtherKind">
                          <label for="other_property_type_name" class="col-sm-5 control-label">سایر <span class="required">*</span></label>
                          <div class="col-sm-7">
                              <input type="text" class="form-control" name="other_property_type_name" id="other_property_type_name" >
                          </div>
                      </div>
                  </div></div>

              <div class="row">
                  <div class="col-sm-6">
                        <div class="form-group">
                  <label for="deal_type" class="col-sm-5 control-label">نوع معامله </label>
                  <div class="col-sm-7">
                      <select class="form-control" id="deal_type" name="deal_type">
                        <option value="rahn_va_ejare" >رهن واجاره</option>
                        <option value="rahn_kamel" >رهن کامل</option>
                        <option value="forush_malekiyat" >فروش مالکیت</option>
                        <option value="forush_sarghofly" >فروش سرقفلی</option>
                        <option value="moaveze" >معاوضه</option>
                        <option value="pish_forush" >پیش فروش</option>
                        <option value="mosharekat_dar_sakht" >مشارکت در ساخت</option>
                    </select>
                      
                  </div>
              </div>
                  </div>
                  <div class="col-sm-6">
                       <div class="form-group">
                  <label for="masahat_kol" class="col-sm-5 control-label">مساحت کل <span class="required">*</span></label>
                  <div class="col-sm-7">
                      <input type="text" class="form-control" name="masahat_kol" id="masahat_kol" >
                  </div>
              </div>
                  </div>
              </div>
			<div class='row'>
				<div class="form-group">
				
					<label for="address" class="col-sm-3 control-label" style="width:135px">آدرس کامل<span class='required'>*</span> </label>
                  <div class="col-sm-9">
                      <input type="text"  class="form-control fullWidth "   name="address" id="address" >
                      </div>
                      
			</div>
			</div>
              <div class="row">
                  <div class="col-sm-6">
                         <div class="form-group">
                  <label for="total_price" class="col-sm-5 control-label">قیمت کل </label>
                  <div class="col-sm-7">
                      <input type="text" class="form-control" name="total_price" id="total_price" >
                  </div>
              </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                  <label for="rahne_kamel_price" class="col-sm-5 control-label"> رهن کامل</label>
                  <div class="col-sm-7">
                      <input type="text" class="form-control" name="rahne_kamel_price" id="rahne_kamel_price" >
                  </div>
              </div>
                  </div>
              </div>

             
             
              <div class="row">
                  <div class="col-sm-6">
                                <div class="form-group">
                  <label for="rahn_price" class="col-sm-5 control-label">رهن </label>
                  <div class="col-sm-7">
                      <input type="text" class="form-control" name="rahn_price" id="rahn_price" >
                  </div>
              </div>
 
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group">
                  <label for="ejare_price" class="col-sm-5 control-label">اجاره </label>
                  <div class="col-sm-7">
                      <input type="text" class="form-control" name="ejare_price" id="ejare_price" >
                  </div>
              </div>

                  </div>
              </div>

 <div class="row">
                  <div class="col-sm-4"></div>
                                <div  class="col-sm-6">
                 <label class="checkbox">
  <input type="checkbox" name="is_synced" id="is_synced" checked> ارسال به سامانه شیش دونگ
</label>

              </div>
 
                  </div>
                 
          
              
             

                <div class="form-group modal-footer">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary"> ثبت اطلاعات</button>
                      
                    </div>
                </div>
            </form>
          

      </div>
    
    </div>
  </div>

        
        
        
        

     
    </div>
</div>






{% endblock %}
