{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% load luna_filters %}

{% block page_title %}{% block content_title %}درخواستهای مطابق با فایلها{% endblock %}{% endblock %}
{% block body_script %}
	<script  src="{% static 'RealEstate_admin/script/file/matched_files_requests.js' %}"></script>
{% endblock %}
{% block content %}
<div class="thumbnail">
	{% if not matched_dict %}
		<p class="notFind"><span class="glyphicon glyphicon-minus"></span>موردی وجود ندارد.</p>
	{% else %}
        <table class="table table-responsive table-striped table-hover toptable">
            <thead>
                <tr><td>فایلهای مطابق</td><td>نام درخواست کننده</td><td>نام خانوادگی درخواست کننده</td><td>شماره تماس</td> <td>تاریخ ثبت</td><td>مشاهده درخواست</td></tr>
            </thead>
            <tbody>
			{% for key, value_list  in  matched_dict.items %}
			<tr>
				<td class="showHide">+</td><td>{{key.name}}</td><td>{{key.family}}</td><td>	{{key.phone_no}}</td><td>{{key.creation_date| persian_date}}</td> <td> <a href="../add_edit_request/{{ key.id }}/"><span class="glyphicon glyphicon-floppy-saved"></span></a></td>
			</tr>		 






				
				<tr class="nested">
<td >
					<table  id="deals" class="table table-bordered table-condensed table-responsive table-striped table-hover">
					 <thead>
                				<tr><td>نوع معامله</td><td>نوع ملک</td><td>مشاهده فایل</td></tr>
            				</thead>
					<tbody>
				{% for value in value_list %}
					<tr><td>{{value|format_deal_type}}</td><td>{{value.deal_file.property_detail|format_property_type}}</td><td> <a href="../editfile/{{ value.id }}/deal"><span class="glyphicon glyphicon-floppy-saved"></span></a></td></tr>
				{% endfor %}
					
					</tbody>
        </table>
	</tr>			

</td>


			{% endfor %}
            </tbody>
        </table>
{% endif %}
</div>
{% endblock %}
