#sendSmsBtn{
	margin:10px auto 20px auto;
}

#wrapper{
	max-width:400px;
}
/*
.title {
    
    font-size: 14px;
    padding: 4px;
    padding-right: 10px;
    min-height: 30px;
    border-right: 3px solid #2980b9;
    background-color: #ecf0f1;
    margin-bottom: 10px;
    color: #2980b9;
    padding-top: 10px;
}
*/
.error {
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 3px solid #D8534F;
    padding-top: 10px;
    background-color: #FDF7F7;
    color: #D8534F;
    padding-bottom: 5px;
    font-size: 12px;
    min-height: 30px;
    padding-right: 10px;
}
.error p {
    font-size: 14px;
    color: #E27875;
    margin-right: 5px;
}

.success {
    font-size: 14px;
    padding: 4px;
    padding-right: 10px;
    min-height: 41px;
    border-right: 3px solid #16a085;
    background-color: #DFF0D8;
    margin-bottom: 1		0px;
    color: #16a085;
    margin-bottom: 10px;    
    min-height: 30px;
    padding-top: 10px;
}

.required {
    color: red;
}
