{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% block style %}
	<link type="text/css" rel="stylesheet" href="{% static 'RealEstate_admin/css/home/index.css' %}" />
{% endblock %}
{% block body_script %}
	<script src="{% static 'RealEstate_admin/script/home/index.js' %}"></script>
{% endblock %}

{% block page_title %}{%block content_title%}خانه{% endblock %}{% endblock %}

{% block content %}
<div class='tile_content'>
	<div class='tile c1'>
		<a href='{% url "RealEstate_admin:fileIndex" %}'>
		<p><span class='glyphicon glyphicon-file'></span></p>
		<p>مدیریت فایل ها</p>
		<p>تعداد فایل های ثبت شده : {{file_count}}</p>
		<p>تعداد معامله های فعال : {{active_deal_count}}</p>
		</a>
	</div>
	<div class="tile c2">
		<a href='{% url "RealEstate_admin:endDeals" %}'>
		<p><span class='glyphicon glyphicon-time'></span></p>
		<p>معامله های در حال اتمام</p>
		<p>تعداد موارد : {{end_deal_count}}</p>
		<p>(تا 15 روز آینده)</p>
		</a>
	</div>
	<div class="tile c3">
		<a href='{% url "RealEstate_admin:propertyRequests" %}'>
		<p><span class='glyphicon glyphicon-eye-open'></span></p>
		<p>مدیریت درخواست ها</p>
		<p>تعداد کل درخواست ها: {{ property_request_count }}</p>
		</a>
		<a href='{% url "RealEstate_admin:matchedFilesRequests" %}'>
		<p>تعداد درخواست هایی که با فایل های موجود تشابه دارند : {{ matched_file_request_count }}</p>
		</a>
	</div>

	<div class="tile c4">
		<a href='{% url "Luna_admin:user_list" %}'>
		<p><span class=' glyphicon glyphicon-user'></span></p>
		<p>مدیریت کاربران</p>
		<p>تعداد کاربران فعال: {{ active_users_count }}</p>
		</a>
	</div>

	<div class="tile c5">
		<a href='{% url "Luna_admin:sendSms" %}'>
		<p><span class=' glyphicon glyphicon-envelope'></span></p>
		<p>مدیریت SMS</p>
		</a>
	</div>
	<div class='tile c6'>
		<a href="{% url 'RealEstate_admin:contactUs' %}">
			<p><span class='glyphicon glyphicon-comment'></span></p>
			<p>درخواست های مشاوره</p>
			<p>تعداد درخواست های ثبت شده : {{contact_request_count}}</p>
		</a>
	</div>
		<!--<div class='tile c7'>
		<a href="{% url 'RealEstate_admin:special' %}">
			<p><span class='glyphicon glyphicon-usd'></span></p>
			<p>مدیریت فایلهای ویژه</p>
			<p>تعداد فایلهای ویژه : {{special_deals_count}}</p>
		</a>
	</div>-->

    <div class="tile c9">
        <a href='{% url "RealEstate_admin:add_edit_profile" %}'>
		<p><span class=' glyphicon glyphicon-user'></span></p>
		<p>ثبت مشخصات بنگاه</p>
		</a>
	</div>

	<div class='tile c8'>
			<p>حافظه استفاده شده</p>
			   <div style="text-align:center"> {{space_use_persent}}%</div>
			<div class="progress"  style="margin-left:3px;margin-right:3px;">
  <div class="progress-bar"   role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{space_use_persent}}%;">
    
  </div>

  </div>
 
			<p >کل حافظه :‌{{MAX_SITE_SIZE_IN_MB}}kb</p>
			<p > مصرف شده  :{{space_use_size}}kb</p>
			<p>باقی مانده : {{remined_space}}kb</p>
			


	</div>
</div>
{% endblock %}
