{% extends 'master.html' %}
{% block page_title %}درباره ما{% endblock %}

{% block content %}
<p class='title'><span class='glyphicon glyphicon-briefcase'></span> {{ profile.about_us_title }}</p>
<div class='container'>
{{ profile.about_us |linebreaks }}
</div>
{% endblock %}
