{% extends 'master.html' %}
{% load staticfiles %}
{% block page_title %}درخواست مشاوره{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'style/contact_us/index.css' %}" />
{% endblock %}
{% block body_script %}
	<script  src="{% static 'Luna_admin/script/validate.js' %}"></script>
	<script src="{% static 'script/contact_us.js' %}"></script>
{% endblock %}
{% block content %}
<div id="wrapper"  style="margin:0 auto;">
 <div class="title"><span class="icon glyphicon glyphicon-log-in"></span>درخواست مشاوره</div>
<div id="contactUsFormErrors"></div>
{% if messages %}
           {% for message in messages %}
           
              <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {% ifequal message.tags 'error' %}
              	<span class='glyphicon glyphicon-remove'></span>
              {% else %}
              	<span class='glyphicon glyphicon-ok'></span>
              {% endifequal %}
              	{{ message }}
              </div>
           {% endfor %}
{% endif %}


<form class="form-horizontal" id="contactUsForm" name="contactUsForm" role="form" method="POST" action="{% url 'contact_us' %}">
   {% csrf_token %}

    <div class="control-group">
                <label for="name" class="control-label">نام</label>
                <div class="controls">
                    <input type="text" class="form-control" id="name" name="name" />
                </div>
    </div>

	<div class="control-group">
                <label for="phone_no" class="control-label">شماره تماس</label>
                <div class="controls">
                    <input type="text" class="form-control" id="phone_no" name="phone_no" />                  
                </div>
    </div>	

   <div class="control-group">
                <label for="title" class="control-label">موضوع</label>
                <div class="controls">
                    <input type="text" class="form-control" id="title" name="title" />                   
                </div>
    </div>
 
   
            <div class="control-group">
                <label for="main_text" class="control-label">متن<span class="required">*</span></label>
                <div class="controls">
                    <textarea class="form-control" name="main_text" id="main_text" ></textarea>
                </div>
        </div>

  
    <div class="control-group">
<div class="controls">
        <button id="sendSmsBtn" type="submit" class="btn btn-primary">ارسال</button>
   </div>
</div>
</form>
</div>
{% endblock %}
