{% extends 'master.html' %}
{% load staticfiles %}
{% load luna_filters %}
{% block page_title %}مشاهده جزییات{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'style/slider/themes/default/default.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'style/slider/nivo-slider.css' %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static 'style/detail/index.css' %}" />
{% endblock %}
{% block head_script %}
<script type="text/javascript" src="{% static 'script/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'style/slider/jquery.nivo.slider.js' %}"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({controlNavThumbs: true, effect: 'fade', pauseTime: 5000});
    });
    </script>
{% endblock %}
{% block body_script %}
<!--<script type="text/javascript" src="{% static 'script/detail/detail.js' %}"></script>-->
{% endblock %}
{% block content %}
		
		{% if file.picture_set.count %}
		
		
		
<div class="row">
<div class="col-md-7" >

   <div class='container marginT'>
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                {% for picture in file.picture_set.all %}
                <img src="{{picture.pic.url}}" data-thumb="{{picture.pic.url}}" 
                title="<div style=text-align:center;font-size:15px;>{{picture.caption}} </div>" />   
                {% endfor %}    
            </div>
        </div>
    </div>

</div>
			<!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">		
				<div class="carousel-inner">
					{% for picture in file.picture_set.all %}
   						{% if forloop.counter == 1 %}					
			 				<div class="item active">				
						{% else %}
							<div class="item">
						{% endif %}
                           	 		<img src="{{picture.pic.url}}">
                        	 		</div>
			 		{% endfor %}
			</div>
			
                    		<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                       		<span class="glyphicon glyphicon-chevron-left"></span>
                    		</a>
                    		<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        	<span class="glyphicon glyphicon-chevron-right"></span>
                    		</a>
	 
			
        </div>-->

		{% endif %}

<div class="col-md-5">
<!-- deal -->
<div style="background-color:white;margin:5px;padding:5px;border-radius:4px;">
 	<div >
                 
                     <p class="title"> <span class="glyphicon glyphicon-briefcase"></span>
                       معامله
                     </p>
         </div>   

	  <div class="row">
		<div class="col-xs-3 col-sm-2 col-md-3">
		 کد
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			
			{{ file.file_code }}
						
		</div>

		<div class="col-xs-3 col-sm-2 col-md-3">
		 نوع معامله
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			
			{{ active_deal | format_deal_type  }}
						
		</div>
</div>
		

<div class="row">		
	
{% if active_deal.rahne_kamel_price %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 رهن کامل
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			
			{{ active_deal.rahne_kamel_price | money_format }}
						
		</div>
	{% endif %}
	
	{% if active_deal.meter_price %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		قیمت هر متر
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{active_deal.meter_price | money_format}}
		</div>
	{% endif %}
	</div>

		
	 
<div class="row">
	{% if active_deal.total_price %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		قیمت کل
		</div>
		<div class="col-xs-3 col-sm-2 col-md-4 property-value">
			{{active_deal.total_price | money_format}}
		</div>
	{% endif %}
</div>

<div class="row">
{% if active_deal.rahn_price %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 رهن
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			
			{{ active_deal.rahn_price  | money_format}}
						
		</div>
	 	{% endif %}

		{% if active_deal.ejare_price %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		اجاره
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{active_deal.ejare_price | money_format}}
		</div>
		{% endif %}
</div>
	
	

	<div class="row">

	{% if active_deal.tarikhe_takhliye %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 تاریخ تخلیه
		</div>
	
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			
			{{ active_deal.tarikhe_takhliye | persian_date }}
						
		</div>
	{% endif %}

	{% if active_deal.charge_price %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		مبلغ شارژ
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{active_deal.charge_price | money_format}}
		</div>
	{% endif %}

	{% if active_deal.ghabel_tabdil %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		قابل تبدیل
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			
			{{ active_deal.ghabel_tabdil }}
						
		</div>
	{% endif %}
	</div>

<!-- property details -->

 	<div >
                 
                     <p class="title"> <span class="glyphicon glyphicon-file"></span>
                       مشخصات
                     </p>
         </div>   


        <div class="row">
		<div class="col-xs-3 col-sm-2 col-md-3">
		 نوع ملک
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			
			{{ file.property_detail | format_property_type }}
						
		</div>
		
	{% if file.property_detail.usage_type %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 نوع کاربری
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			
			{{ file.property_detail | format_usage_type }}
						
		</div>	
{% endif %}
</div>
<div class="row">
		{% if file.property_detail.no_floor %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 تعداد طبقات
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.no_floor}}
		</div>
	{% endif %}


{% if file.property_detail.floors %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 طبقه
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.floors}}
		</div>
	{% endif %}
</div>
<div class="row">
	{% if file.property_detail.no_bedrooms %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 تعداد خواب
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.no_bedrooms}}
		</div>
	{% endif %}



{% if file.property_detail.tedade_vahed %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		تعداد واحد
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.tedade_vahed}}
		</div>
	{% endif %}	
	
</div>


	<div class="row">
{% if file.property_detail.nama %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		نما
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.nama}}
		</div>
		{% endif %}

		{% if file.property_detail.view_ya_manzare %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		ویو/منظره
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.view_ya_manzare}}
		</div>
	{% endif %}
</div>
<div class="row">
	{% if file.property_detail.area %}
		<div class="col-xs-3 col-md-3 col-sm-2">
		 محدوده
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.area}}
		</div>
	{% endif %}
	
{% if file.property_detail.masahat_zamin %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 مساحت زمین
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.masahat_zamin}}
		</div>
	{% endif %}
</div>

<div class="row">
{% if file.property_detail.masahat_kol %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		مساحت کل
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.masahat_kol}}
		</div>
	{% endif %}

{% if file.property_detail.zirbana %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 زیربنا
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.zirbana}}
		</div>
	{% endif %}
	</div>
	<div class="row">
	

{% if file.property_detail.ToolBar %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 طول بر
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.ToolBar}}
		</div>
	{% endif %}

{% if file.property_detail.zabete_sakht %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 ضابطه ساخت
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.zabete_sakht}}
		</div>
	{% endif %}
</div>
<div class="row">
{% if file.property_detail.sene_bana %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		سن بنا
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.sene_bana}}
		</div>
	{% endif %}
	
	
{% if file.property_detail.mogheiyat %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 موقعیت
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.mogheiyat}}
		</div>
	{% endif %}
</div>

<div class="row">
{% if file.property_detail.noe_sanad %}
		<div class="col-xs-3 col-md-3 col-sm-2">
		 نوع سند
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.noe_sanad}}
		</div>
	{% endif %}

{% if file.property_detail.vame_banki %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		 وام بانکی
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.vame_banki}}
		</div>
	{% endif %}

	</div>
<div class="row">
{% if file.property_detail.noe_saghf %}
		<div class="col-xs-3 col-sm-2 col-md-3">
		نوع سقف
		</div>
		<div class="col-xs-3 col-sm-2 col-md-3 property-value">
			{{file.property_detail.noe_saghf}}
		</div>
	{% endif %}
</div>



<!-- property options -->
{% if file.property_option %}
 	<div class="row" style="margin-right:3px;">           
                 
                     <p class="title"> <span class="glyphicon glyphicon-plus"></span>
                        امکانات
                     </p>
         </div> 

	<div>{% format_fields file.property_option 0 %}</div>
	<div style="margin-bottom:20px;">{% format_fields file.property_option 1 %}</div>
	
{% endif %}
</div><!--end col-md-6 -->
</div>
</div>
</div>
{% endblock %}


