{% extends "master.html" %}
{% load luna_filters %}
{% load staticfiles %}
{% block page_title %}{{ profile.about_us_title }}{% endblock %}
{% block content %}



        <div class="row marginB">

            <div class="col-sm-6  ">


              {% if profile.pic1 or profile.pic2 or profile.pic3 %}
                <div id="home_carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% if profile.pic1 %}
                        <li data-target="#home_carousel" data-slide-to="0" class="active"></li>
                        {% endif %}
                        {% if profile.pic2 %}
                        <li data-target="#home_carousel" data-slide-to="1"></li>
                        {% endif %}
                        {% if profile.pic3 %}
                        <li data-target="#home_carousel" data-slide-to="2"></li>
                        {% endif %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

   						 {% if profile.pic1 %}
			 				<div class="item active">
                                <img src="{{profile.pic1.url}}">
                        	 </div>
                         {% endif %}
						 {% if profile.pic2 %}
			 				<div class="item">
                                <img src="{{profile.pic2.url}}">
                        	 </div>
                         {% endif %}
                         {% if profile.pic3 %}
			 				<div class="item">
                                <img src="{{profile.pic3.url}}">
                        	 </div>
                         {% endif %}

                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#home_carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#home_carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>


                </div>
              {% endif %}
            </div>


            <div class="col-sm-6  ">

                <p class="title">
                    {% if profile.about_us_title %}
                    <span class="glyphicon glyphicon-globe"></span>
                    {{ profile.about_us_title }}
                    {% endif %}
                </p>
                <div class="about">
                  {{ profile.about_us |truncatechars:200 |linebreaks }}
                    {% if profile.about_us %}
                      <a href="{% url 'about_us' %}">ادامه</a>
                    {% endif %}
                </div>
                <div>
                    <p class="title">
                        <span class="glyphicon glyphicon-search"></span>
                        جستجو املاک
                    </p>
                    <form action='{% url 'search' %}' method='GET'>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="">نوع معامله</label>
                                <select class="form-control" name=deal>
                                <option value='no_filter' selected>همه موارد</option>
										<option  value="rahn_va_ejare">رهن و اجاره</option>
										<option  value="rahn_kamel">رهن کامل</option>
										<option  value="forush_malekiyat">فروش مالکیت</option>
										<option  value="forush_sarghofly" >فروش سرقفلی</option>
										<option  value="moaveze">معاوضه</option>
										<option  value="pish_forush">پیش فروش</option>
										<option  value="mosharekat_dar_sakht">مشارکت در ساخت</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="">نوع ملک</label>
                                <select class="form-control" name='property'>
                                <option value='no_filter' selected>همه موارد</option>
										<option value='apartment'>آپارتمان ‍‍‍‍‍‍‍</option>
										<option value='house'>خانه</option>
										<option value='suite'>سوئیت</option>
										<option value='shop'  >مغازه</option>
										<option value='other'>سایر</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="">مساحت</label>
                                <select class="form-control" name='meter'>
                                	<option value='no_filter' selected>همه موارد</option>
                                    <option value='250'>کمتر از 250 متر</option>
                                    <option value='500'>از ۲۵۰ متر تا ۵۰۰ متر</option>
                                    <option value='1000'>از ۵۰۰ متر تا ۱۰۰۰ متر</option>
                                    <option value='other'>بیشتر از ۱۰۰۰ متر</option>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label for="">&nbsp;</label>
                            <button type="submit" class="btn btn-default btn-block">جستجو</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
{# tiles ------------------------------------------------------------#}


{% if special_deals  %}
<div >
<p class='title'><span class='glyphicon glyphicon-star'></span> موارد ویژه</p>.
	<div>
		{% for deal in special_deals  %}
			<div class="tile t2 ">
			<div class="top-tile">
				<p class='file-code'><span class="glyphicon glyphicon-barcode" ></span>کد فایل : {{deal.deal_file.file_code}}</p>
				<p><span class='glyphicon glyphicon-home'></span> نوع ملک : 
				{% ifequal deal.deal_file.property_detail.property_type  'other' %}
				{{deal.deal_fileproperty_detail.other_property_type_name}}
				{% else %}
					{% for key,val in deal.deal_file.property_detail.PROPERTY_TYPE %}
						{% ifequal deal.deal_file.property_detail.property_type key %}
							{{ val }}
						{% endifequal %}
					{% endfor %}
				{% endifequal %}
				</p>
				<p><span class='glyphicon glyphicon-retweet'> </span> نوع معامله :
				{% for key,val in deal.DEAL_TYPE %}
				{% ifequal key deal.deal_type %}
				{{ val }}
				{% endifequal %}
				{% endfor %}
				</p>
				<p><span class=' glyphicon glyphicon-screenshot'></span> محدوده :
				{{ deal.deal_file.property_detail.area }}
				</p>
				<p><span class="glyphicon glyphicon-fullscreen"></span> مساحت :
				{{ deal.deal_file.property_detail.masahat_kol}} متر
				</p>

                <p><span class="glyphicon glyphicon-move"></span> تعداد خواب:
				{{ deal.deal_file.property_detail.no_bedrooms | default_if_none:'ثبت نشده'}}
				</p>

				{% if deal.total_price %}
					<p><span class='glyphicon glyphicon-usd'></span> قیمت کل:
					{{ deal.total_price|money_format}}
					</p>
				{% endif %}
				{% if deal.rahne_kamel_price %}
					<p><span class='glyphicon glyphicon-usd'></span> قیمت رهن کامل:
					{{ deal.rahne_kamel_price|money_format}}
					</p>
				{% endif %}
				{% if deal.rahn_price %}
					<p><span class='glyphicon glyphicon-usd'></span> قیمت رهن:
					{{ deal.rahn_price|money_format}}
					</p>
				{% endif %}
				{% if deal.ejare_price %}
					<p><span class='glyphicon glyphicon-usd'></span> قیمت اجاره:
					{{ deal.ejare_price|money_format}}
					</p>
				{% endif %}
                   <p> <span class="glyphicon glyphicon-picture"></span>عکس؟
                {% if file.picture_set.count %}
                <span class="glyphicon glyphicon-ok"></span>
			     {% else %}
			     <span class="glyphicon glyphicon-remove"></span>
			     {% endif %}
                </p>
			</div>
				<a class="view-detail btn btn-primary btn-sm btn-block" href='{% url  'detail' deal.deal_file.pk %}'>  مشاهده ...  </a>
			</div>
		{% endfor %}

	
</div>
</div>
{% endif %}
<div style="clear:both;"></div>
{#-------------------------------------------------------------------#}
{% if files  %}
<div >
<p class='title marginB'><span class=' glyphicon glyphicon-flag'></span> آخرین موارد ثبت شده در سیستم</p>
	<div>
		{% for file,deal in files %}
			<div class="tile">
			<div class="top-tile">
				<p class='file-code'><span class="glyphicon glyphicon-barcode" ></span>کد فایل : {{file.file_code}}</p>
				<p><span class='glyphicon glyphicon-home'></span> نوع ملک : 
				{% ifequal file.property_detail.property_type  'other' %}
				{{file.property_detail.other_property_type_name}}
				{% else %}
					{% for key,val in file.property_detail.PROPERTY_TYPE %}
						{% ifequal file.property_detail.property_type key %}
							{{ val }}
						{% endifequal %}
					{% endfor %}
				{% endifequal %}
				</p>
				<p><span class='glyphicon glyphicon-retweet'> </span> نوع معامله :
				{% for key,val in deal.DEAL_TYPE %}
				{% ifequal key deal.deal_type %}
				{{ val }}
				{% endifequal %}
				{% endfor %}
				</p>
				<p><span class=' glyphicon glyphicon-screenshot'></span> محدوده :
				{{ file.property_detail.area }}
				</p>
				<p><span class="glyphicon glyphicon-fullscreen"></span> مساحت :
				{{ file.property_detail.masahat_kol}} متر
				</p>


                <p><span class="glyphicon glyphicon-move"></span> تعداد خواب:
				{{ file.property_detail.no_bedrooms | default_if_none:'ثبت نشده'}}
				</p>

				{% if deal.total_price %}
					<p><span class='glyphicon glyphicon-usd'></span> قیمت کل:
					{{ deal.total_price|money_format}}
					</p>
				{% endif %}
				{% if deal.rahne_kamel_price %}
					<p><span class='glyphicon glyphicon-usd'></span> قیمت رهن کامل:
					{{ deal.rahne_kamel_price|money_format}}
					</p>
				{% endif %}
				{% if deal.rahn_price %}
					<p><span class='glyphicon glyphicon-usd'></span> قیمت رهن:
					{{ deal.rahn_price|money_format}}
					</p>
				{% endif %}
				{% if deal.ejare_price %}
					<p><span class='glyphicon glyphicon-usd'></span> قیمت اجاره:
					{{ deal.ejare_price|money_format}}
					</p>
				{% endif %}

                <p> <span class="glyphicon glyphicon-picture"></span>عکس؟
                {% if file.picture_set.count %}
                <span class="glyphicon glyphicon-ok"></span>
			     {% else %}
			     <span class="glyphicon glyphicon-remove"></span>
			     {% endif %}
                </p>
			</div>
				<a class="view-detail btn btn-primary btn-sm btn-block" href='{% url  'detail' file.pk %}'>  مشاهده ...  </a>
			</div>
		{% endfor %}
		<div class='tile'>
		<div class="top-tile">
		<div class='moreResultImage'></div>
		<p>تعداد کل املاک ثبت شده درسیستم : {{number_of_file}}</p>
		<p>تعداد معامله های فعال : {{number_of_active_deal}}</p>
		</div>
		<a href="{% url 'search' %}" class='view-detail btn btn-primary btn-sm btn-block '>جستجو ومشاهده سایر موارد</a>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
