{% load staticfiles %}
<!DOCTYPE html>
<html>
	<title>{% block page_title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{# style #}
		<link rel="stylesheet" type="text/css" href="{% static 'style/bootstrap-rtl.css' %}" />
		<link rel="stylesheet" href="{% static 'style/main.css' %}" />
		{% block style %}{% endblock %}
	{# /style #}

	{# head scripts #}
	<script type='text/javascript' src="{% static 'script/jquery-1.10.2.min.js' %}"></script>
		<script type='text/javascript' src="{% static 'script/respond.js' %}"></script>
		{% block head_script %}{% endblock %}
	{# /head scripts #}

</head>
<body>
	<div class='container'>
	 <div class="row marginB">
            <div class="col-md-10 col-sm-7 logo"><img src="{% static 'style/img/logo.jpg' %}" class='img-responsive' /></div>
         <!--<div class="row phone">
         <div class="col-md-1 col-sm-2">
                 <span class="glyphicon glyphicon-phone-alt"></span>
                       {{ profile.phone_no }}
            </div>
           <div class="col-md-1 col-sm-2">
                 <span class="glyphicon glyphicon-phone"></span>
                       {{ profile.mobile_no }}
            </div>
             </div>-->
             <div class="col-md-2 col-sm-5 phone">
                <div>
                    <p>
                        <span style="width:35px;" class="glyphicon glyphicon-phone-alt"></span>
                        <span style="width:40px;">{{ profile.phone_no }}</span>
                    </p>
                    <p>
                        <span class="glyphicon glyphicon-phone"></span>
                         <span>{{ profile.mobile_no }}</span>
                    </p>
                </div>
            </div>
        </div>
         <div class="row menu marginB">
         
        
         
         
        <div class="navbar navbar-default " role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav pull-right">
      <li {% ifequal current_page 'home' %}class='active'{% endifequal%}><a href="{% url 'home' %}">خانه</a></li>
                <li {% ifequal current_page 'search' %}class='active'{% endifequal%} ><a href="{% url 'search' %}">جستجوی ملک</a></li>
                <li {% ifequal current_page 'contact_us' %}class='active'{% endifequal%}><a href="{% url 'contact_us' %}">درخواست مشاوره</a></li>
               <li {% ifequal current_page 'about_us' %}class='active'{% endifequal%}><a href="{% url 'about_us' %}">درباره ما</a></li>
                <li {% ifequal current_page 'login' %}class='active'{% endifequal%}><a href="{% url 'Luna_admin:login' %}">ورود مدیر</a></li>
    </ul>   
</div>
</div>
 
        </div>




         <div class="row marginB">
	{# main container #}
		{% block content %}	{% endblock %}
	{# /main container #}
	</div>
	 <div class="row footer">
            
                 <div class="col-sm-4 ">
                     <p class="title"> <span class="glyphicon glyphicon-stats"></span>
                         آمار بازدید سایت
                     </p>
                     
                     <p>بازدید های امروز : {{stat.daily_count}}</p>
                     <p>کل بازدید ها : {{stat.total_count}} </p>
                     <p>IP : {{meta.ip}}</p>
            </div>
            <div class="col-sm-4 ">
                <p class="title"><span class="glyphicon glyphicon-send"></span>
                    تماس با ما
                </p> 
                <p>
                    آدرس بنگاه : شیراز خیابان هدایت کوچه 14 ساختمان دکه طبقه 3 واحد 303
                </p>
                <p>    تلفن: {{profile.phone_no}}
                </p>
                <p>
                    موبایل : {{profile.mobile_no}}
                </p>
                <p>
                    پست الکترونیکی : {{ profile.email | default_if_none:''}}
                </p>
                
            </div>
            <div class="col-sm-4 ">
                <p>
                    <img class="img-responsive img-thumbnail"  src="{% static  'style/img/5.png' %} "/>
                </p>

            </div>
       
       </div>

	

 </div>

<div class="copyright">
<div  style="color:#fff;text-align:center;width:300px;padding:2px;background-color:#34495e;margin-left:auto;margin-right:auto;border-radius:5px;">
<a style='color:#fff' href='http://www.shishdong.ir'>این وبسایت عضو سیستم جامع املاک شیش دونگ می باشد</a>



</div>
			کلیه حقوق این سامانه متعلق به گروه توسعه نرم افزار 	<a href="http://www.lunasoft.ir" target="_blank">لونا سافت</a> می باشد .  2014&copy; <img src="{%static 'style/img/LunaLogo.png'%}" alt="luna" />
		</div>

	{# body scripts #}
		
		<script type='text/javascript' src="{% static 'script/bootstrap-rtl.js' %}"></script>
		<script type="text/javascript" src="{% static 'script/main.js' %}"></script>
		{% block body_script %}{% endblock %}
	{# /body scripts #}
</body>
</html>
