{% extends 'master.html' %}
{% load luna_filters %}
{% block page_title %}جستجو{% endblock %}
{% block content %}

                    <p class="title">
                        <span class="glyphicon glyphicon-search"></span>
                        جستجو املاک
                    </p>
                    <form action='{% url 'search' %}' method='GET'>
                    <div class="row   marginB " style="border-radius:5px;background-color:#EEEEEE;padding:5px;margin-left:1px;margin-right:1px;">
                    
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="">نوع معامله</label>
                                <select class="form-control" name=deal>
                                <option value='no_filter' {% ifequal deal 'no_filter'  %}selected{%endifequal%}>همه موارد</option>
										<option  value="rahn_va_ejare" {% ifequal deal 'rahn_va_ejare'  %}selected{%endifequal%}>رهن و اجاره</option>
										<option  value="rahn_kamel" {% ifequal deal 'rahn_kamel'  %}selected{%endifequal%}>رهن کامل</option>
										<option  value="forush_malekiyat" {% ifequal deal 'forush_malekiyat'  %}selected{%endifequal%}>فروش مالکیت</option>
										<option  value="forush_sarghofly" {% ifequal deal 'forush_sarghofly'  %}selected{%endifequal%} >فروش سرقفلی</option>
										<option  value="moaveze" {% ifequal deal 'moaveze'  %}selected{%endifequal%}>معاوضه</option>
										<option  value="pish_forush" {% ifequal deal 'pish_forush'  %}selected{%endifequal%}>پیش فروش</option>
										<option  value="mosharekat_dar_sakht" {% ifequal deal 'mosharekat_dar_sakht'  %}selected{%endifequal%}>مشارکت در ساخت</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="">نوع ملک</label>
                                <select class="form-control" name='property'>
                                <option value='no_filter' {% ifequal property 'no_filter'  %}selected{%endifequal%}>همه موارد</option>
										<option value='apartment' {% ifequal property 'apartment'  %}selected{%endifequal%}>آپارتمان ‍‍‍‍‍‍‍</option>
										<option value='house' {% ifequal property 'house'  %}selected{%endifequal%}>خانه</option>
										<option value='suite' {% ifequal property 'suite'  %}selected{%endifequal%}>سوئیت</option>
										<option value='shop' {% ifequal property 'shop'  %}selected{%endifequal%} >مغازه</option>
										<option value='other' {% ifequal property 'other'  %}selected{%endifequal%}>سایر</option>
                                </select>
                            </div>
                        </div>
                    

                   
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="">مساحت</label>
                                <select class="form-control" name='meter'>
                                	<option value='no_filter' {% ifequal meter 'no_filter'  %}selected{%endifequal%}>همه موارد</option>
                                    <option value='250' {% ifequal meter '250'  %}selected{%endifequal%} >کمتر از ۲۵۰ متر</option>
                                    <option value='500' {% ifequal meter '500'  %}selected{%endifequal%}>از ۲۵۰ متر تا ۵۰۰ متر</option>
                                    <option value='1000' {% ifequal meter '1000'  %}selected{%endifequal%}>از ۵۰۰ متر تا ۱۰۰۰ متر</option>
                                    <option value='other' {% ifequal meter 'other'  %}selected{%endifequal%}>بیشتر از ۱۰۰۰ متر</option>
                                    
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div class="form-group">
                                <label for="">تعداد خواب</label>
                            <input type="text" name="no_bed" value="{{no_bed}}" class="form-control input-sm">
                                </div>
                        </div>

                          <div class="col-sm-2">
                            <label for="">&nbsp;</label>
                            <button type="submit" class="btn btn-default btn-block">جستجو</button>
                        </div>

       				</div>

                    </form>
             
             <div class='row'>

	<div>
	{% if files %}

		{% for file,deal in files %}
			<div class="tile">
			<div class="top-tile">
				<p class='file-code'><span class='glyphicon glyphicon-barcode'></span>کد فایل : {{file.file_code}}</p>
				<p><span class='glyphicon glyphicon-home'></span> نوع ملک : 
				{% ifequal file.property_detail.property_type  'other' %}
				{{file.property_detail.other_property_type_name}}
				{% else %}
					{% for key,val in file.property_detail.PROPERTY_TYPE %}
						{% ifequal file.property_detail.property_type key %}
							{{ val }}
						{% endifequal %}
					{% endfor %}
				{% endifequal %}
				</p>
				<p><span class='glyphicon glyphicon-retweet'> </span> نوع معامله :
				{% for key,val in deal.DEAL_TYPE %}
				{% ifequal key deal.deal_type %}
				{{ val }}
				{% endifequal %}
				{% endfor %}
				</p>
				<p><span class=' glyphicon glyphicon-screenshot'></span> محدوده :
				{{ file.property_detail.area }}
				</p>
				<p><span class="glyphicon glyphicon-fullscreen"></span> مساحت :
				{{ file.property_detail.masahat_kol}} متر
				</p>
                 <p><span class="glyphicon glyphicon-move"></span> تعداد خواب:
				{{ file.property_detail.no_bedrooms | default_if_none:'ثبت نشده'}}
				</p>
				{% if deal.total_price %}
					<p><span class='glyphicon glyphicon-usd'></span> قیمت کل:
					{{ deal.total_price|money_format}}
					</p>
				{% endif %}
				{% if deal.rahne_kamel_price %}
					<p><span class='glyphicon glyphicon-usd'></span> قیمت رهن کامل:
					{{ deal.rahne_kamel_price|money_format}}
					</p>
				{% endif %}
				{% if deal.rahn_price %}
					<p><span class='glyphicon glyphicon-usd'></span> قیمت رهن:
					{{ deal.rahn_price|money_format}}
					</p>
				{% endif %}
				{% if deal.ejare_price %}
					<p><span class='glyphicon glyphicon-usd'></span> قیمت اجاره:
					{{ deal.ejare_price|money_format}}
					</p>
				{% endif %}
				</div>
				<a class="Tilemore btn btn-default btn-sm btn-block" href='{% url  'detail' file.pk %}'>  مشاهده ...  </a>
			</div>
		{% endfor %}
	
	{% endif %}
	</div>
	</div>
	{% if files %}
	

		<div  class='row' style="width:200px;margin-left:auto;margin-right:auto">
			<ul class="pagination">
		 {% if files.has_previous %}
			<li><a href="?page={{ files.previous_page_number }}"><</a></li>
        {% endif %}

        <li class="active"><a href=#>
            صفحه {{ files.number }} از {{ files.paginator.num_pages }}
        </a></li>

        {% if files.has_next %}
            <li><a href="?page={{ files.next_page_number }}">></a></li>
        {% endif %}
       
</ul>
</div>
	{% endif %}
{% endblock %}
