﻿@font-face {
     font-family: 'Yekan';
     src: /*local('☺'),*/
     local('Yekan'),
     url('../fonts/yekan3.woff') format('woff');
font-weight: normal;
font-style: normal;
}
*{
    font-family: Yekan,tahoma,Arial;
    font-size: 13px;
}
/*input,select,textarea{
    font-family: tahoma;
    font-weight: normal;*/

body {
    margin: 0;
    padding: 0;
    font-family: Yekan;
    font-size: 12px;
}

.TopMenu {
    background-color: #1f262d;
}
.logo {
    color: white;
    font-size: 25px;
    font-family: calibri;
   
}
.content {
    padding: 10px;
   
}
.shortcutMenu {
    margin-top: 51px;
    
    border-bottom: 1px solid #dddddd;
  
    
}
.error {
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 3px solid #D8534F;
    padding-top: 10px;
    background-color: #FDF7F7;
    color: #D8534F;
    padding-bottom: 5px;
    font-size: 12px;
    min-height: 30px;
    padding-right: 10px;
}
.error p {
    font-size: 14px;
    color: #E27875;
    margin-right: 5px;
}

.form-control {
    max-width: 400px;
}
.control-label {
    font-weight: normal;
}
.title {
    
    font-size: 14px;
    padding: 4px;
    padding-right: 10px;
    min-height: 30px;
    border-right: 3px solid #2980b9;
    background-color: #ecf0f1;
    margin-bottom: 10px;
    color: #2980b9;
    padding-top: 10px;
}
.title2{
	background-color:#ecf0f1;
	font-size: 14px;
    padding: 4px;
    padding-right: 10px;
    min-height: 30px;
    border-bottom:solid 3px #2980b9;
    margin_top:10px;
    margin-bottom: 10px;
    color: #2980b9;
    padding-top: 10px;
}
.thumbnail {
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.notFind {
    text-align: center;
    font-size: 14px;
    margin: 5px;
        color: #e67e22;
}
span {
    margin-left: 5px;

}

.modal-footer {
    margin-bottom:0;
    height: 60px;
}
.btn-link {
    padding: 0;
}

.modal-title {
    font-family: tahoma;
}
.required {
    color: red;
}
.panel-title {
    font-family: tahoma;
}
.fullWidth {
    max-width: 100%;
}
.success {
    font-size: 14px;
    padding: 4px;
    padding-right: 10px;
    min-height: 41px;
    border-right: 3px solid #16a085;
    background-color: #DFF0D8;
    margin-bottom: 1		0px;
    color: #16a085;
    margin-bottom: 10px;    
    min-height: 30px;
    padding-top: 10px;
}

.copyright{
	text-align: center;
	color: #fff;
	background-color: gray;
	padding:5px;
}
.copyright a{
	color: #293090;
}