{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% load luna_filters %}
{% block page_title %}{% block content_title %}مشاهده درخواستهای مشاوره{% endblock %}{% endblock %}
{% block content %}

<div class="thumbnail">
	{% if not contacts %}
		<p class="notFind"><span class="glyphicon glyphicon-minus"></span>درخواست مشاوره ای ثبت نشده است</p>
	{% else %}
        <table style="table-layout:fixed;" class="table table-responsive table-striped table-hover">
            <thead>
                <tr><td>نام</td><td>شماره تماس</td><td>تاریخ درخواست</td><td>موضوع</td> <td>متن</td> <td>حذف</td></tr>
            </thead>
            <tbody>
			{% for contact in contacts %}
			  <tr><td>{{contact.name}}</td><td>{{contact.phone_no}}</td>
                  <td>{{contact.creation_date| persian_date}}</td><td>{{contact.title}}</td>
                  <td style="white-space: nowrap;">
                      <div style="width:100px; overflow:auto;">
                      {{contact.main_text}}
                      </div>
                  </td>
                  <td> <a href="{% url 'RealEstate_admin:deleteContact' contact.id %}">
                       <span class="glyphicon glyphicon-trash"></span></a>
                  </td>

			  </tr>
			{% endfor %}
            </tbody>
        </table>
  <ul class="pagination">
		 {% if contacts.has_previous %}
			<li><a href="?page={{ contacts.previous_page_number }}"><</a></li>
        {% endif %}

        <li class="active"><a href=#>
            صفحه {{ contacts.number }} از {{ contacts.paginator.num_pages }}
        </a></li>

        {% if contacts.has_next %}
            <li><a href="?page={{ contacts.next_page_number }}">></a></li>
        {% endif %}
       
</ul>
	{% endif %}

</div>

{% endblock %}
