@font-face {
     font-family: 'Yekan';
     src: /*local('☺'),*/
     local('Yekan'),
     url('../yekan3.woff') format('woff');
font-weight: normal;
font-style: normal;
}
*{
    font-family: Yekan,tahoma,Arial;
    font-size: 13px;
}
body
{

    padding: 0;
      
      
}

.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    width: 700px;
    height: 330px !important;
}

.nivo-control img{
height: 70px !important;
opacity:0.5;
}

.nivo-control.active img{
	border-bottom:4px solid red;
	opacity:1;
}

.carousel{
	margin:10px auto;
}
.carousel-inner > .item > img {
  width:700px;
  height:500px;
  margin:0px auto;
  }

.title{
    font-size: 13px;
    font-weight: bold;
    color: #16a085;
}

.field-value{
	background-color : #EEEEEE;
}

section {
  direction:ltr;
}

.property-value {
  color: #2980b9;

  text-align: center;
}
