﻿@font-face {
     font-family: 'Yekan';
     src: /*local('☺'),*/
     local('Yekan'),
     url('yekan3.woff') format('woff');
font-weight: normal;
font-style: normal;
}
*{
    font-family: Yekan,tahoma,Arial;
    font-size: 13px;

}
input,select{
    font-family: tahoma;
    font-weight: normal;
}

body
{
    margin: 0;
    padding: 0;
}
.logo {
    /* ????? ???? */
    /*background: url(img/stock-vector-vector-of-green-house-icon-background-158669165.jpg) top right no-repeat;*/
    height: 150px;
}
.phone {
    margin-top: 80px;
    text-align: center;
}
.phone p {
    font-weight: bold;
    font-family:courier, Consolas, Arial,tahoma;
    font-size: 14px;
    padding: 2px;
    color: #2980b9;
    border-radius: 4px;
    background-color: #EEEEEE;
}
.phone p span {
    font-size: 14px;
    margin-left: 5px; 
}
.marginB{
    margin-bottom: 20px;
}
.carousel{
      -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}
.carousel-inner > .item > img{ width:570px; height:300px; }

label{
    font-weight: normal;
}
.title{
    font-size: 13px;
    font-weight: bold;
    color: #16a085;
}

.footer{
       background: url(img/background-outer-wrapper.png) bottom center no-repeat ;
   min-height:330px;
}

.tile{
    width: 200px;
    float: right;
    border: 1px solid #ecf0f1;
    padding: 10px;
    margin-right: 17px;
    margin-bottom: 17px;


  background: rgb(206,220,231); /* Old browsers */
background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}
.t2{
	   -moz-box-shadow: 0 0 5px #F06050;
-webkit-box-shadow: 0 0 5px #F06050;
box-shadow: 0 0 5px #F06050;
}
.top-tile{
	height:150px;
	margin-bottom:3px;
	overflow:auto;
}

.view-detail {
 background-color:rgb(116, 132, 141);
}
.file-code{
	border-bottom:1px solid #ddd;
	padding-bottom:5px;
}
span{
    margin-left: 5px;
}
.moreResultImage{
	height:100px;
	width:100px;
	margin:20px auto 20px auto;
	background:url(img/1.png) top center no-repeat;
}
 .navbar .nav-pills >li >a {
    color: #005580;
 }
   .navbar .nav-pills > li > a:hover {
      background-color: #0088cc;
 }
 .navbar .nav-pills .active > a {
    background-color:#ccc;
    color:#0088cc;
}

.copyright{
	text-align: center;
	color: #fff;
	background-color: gray;
	padding:5px;
}
.copyright a{
	color: #293090;
}

.about {
  height:110px;

}