{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% block page_title %}{% block content_title %}ثبت مشخصات بنگاه{% endblock %}{% endblock %}
{% block body_script %}
	<script src="{% static 'RealEstate_admin/script/profile/add_edit_profile.js' %}"></script>
{% endblock %}
{% block content %}

         <div id="profileFormErrors"></div>
<form name="profileForm" class="form-horizontal" role="form"  enctype="multipart/form-data" method="post" action="{% url 'RealEstate_admin:add_edit_profile' %}">
{% csrf_token %}
    <input type="hidden" value="{{profile.id}}" name="profile_id" />

	<div class="form-group">
		<label for="mobile_no" class="col-sm-2 control-label">شماره همراه</label>
		<div class="col-sm-2">
		<input type="text" class="form-control" id="mobile_no" name='mobile_no' value="{{ profile.mobile_no }}">
		</div>
	</div>

    <div class="form-group">
		<label for="phone_no" class="col-sm-2 control-label">شماره ثابت</label>
		<div class="col-sm-2">
		<input type="text" class="form-control" id="phone_no" name='phone_no' value="{{ profile.phone_no }}">
		</div>
	</div>

	<div class="form-group">
		<label for="pic1" class="col-sm-2 control-label">عکس</label>
		<div class="col-sm-10">
		<input type="file" class="filestyle" data-buttonText="انتخاب عکس" name='pic1' id='pic1'>
         {% if profile.pic1 %}
            <img width=50 height=50 src="{{profile.pic1.url}}" />
         {% endif %}
		</div>
	</div>

    <div class="form-group">
		<label for="pic2" class="col-sm-2 control-label">عکس</label>
		<div class="col-sm-10">
		<input type="file" class="filestyle" data-buttonText="انتخاب عکس" name='pic2' id='pic2'>
         {% if profile.pic2 %}
            <img width=50 height=50 src="{{profile.pic2.url}}" />
         {% endif %}
		</div>
	</div>

    <div class="form-group">
		<label for="pic3" class="col-sm-2 control-label">عکس</label>
		<div class="col-sm-10">
		<input type="file" class="filestyle" data-buttonText="انتخاب عکس" name='pic3' id='pic3'>
         {% if profile.pic3 %}
            <img width=50 height=50 src="{{profile.pic3.url}}" />
         {% endif %}
		</div>
	</div>

    <div class="form-group">
		<label for="about_us_title" class="col-sm-2 control-label">نام بنگاه</label>
		<div class="col-sm-10">
		<input type="text" value="{{ profile.about_us_title }}" class="form-control" id='about_us_title' name='about_us_title'>
		</div>
	</div>

	  <div class="form-group">
		<label for="about_us_title" class="col-sm-2 control-label">ایمیل</label>
		<div class="col-sm-10">
		<input type="text" value="{{ profile.email | default_if_none:''}}" class="form-control" id='email' name='email'>
		</div>
	</div>

	<div class="form-group">
		<label for="about_us" class="col-sm-2 control-label">درباره بنگاه</label>
		<div class="col-sm-10">
		<textarea class="form-control" rows="8"  id='about_us' name='about_us'>
            {{ profile.about_us }}
		</textarea>
		</div>
	</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">ثبت</button>
		</div>
	</div>
</form>

 {% endblock %}
