{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% block page_title %}{% block content_title %}مدیریت فایل های ویژه{% endblock %}{% endblock %}
{% block content %}
<div class="thumbnail">
	{% if not special_deals %}
		<p class="notFind"><span class="glyphicon glyphicon-minus"></span>فایل ویژه ثبت نشده است</p>
	{% else %}
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr><td>کد فایل</td><td>نام مالک</td><td>نام خانوادگی مالک</td><td>ویرایش فایل</td><td> حذف از فایل های ویژه</td></tr>
            </thead>
            <tbody>
			{% for deal in special_deals %}
			  <tr><td>{{deal.deal_file.file_code}}</td><td>{{deal.deal_file.owner_name}}</td><td>{{deal.deal_file.owner_family}}</td>

			  <td> <a href="{% url 'RealEstate_admin:editFileDeal' deal.deal_file.pk %}"><span class="glyphicon glyphicon-floppy-saved"></span></a></td>
			  <td><a href="{% url 'RealEstate_admin:delete_special' deal.id %}"><span class="glyphicon glyphicon-trash"></span></a></td>
			  </tr>
			{% endfor %}
            </tbody>
        </table>
  
	{% endif %}

</div>
{# add new specil file #}
<div class="">
    <button type="button" class="btn btn-primary btn-sm "   data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>ثبت فایل ویژه </button>
    <div class="modal fade  "   id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        
        
        
       
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">ثبت فایل ویژه جدید</h4>
      </div>
      <div class="modal-body">
        <div id="addNewFileFormErrors"></div>
          <form class="form-horizontal" role="form" id="addNewFileForm" name="addNewFileForm" method="POST"  action="{% url 'RealEstate_admin:special' %}">
            {% csrf_token %}
              <div class="row">
                  
                       <div class="form-group">
                                 <label for="file_code" class="col-sm-2 control-label small-font">کد فایل <span class="required">*</span></label>
                                 <div class="col-sm-10">
                                     <input type="text" class="form-control" id="file_code" name="file_code" >
                                 </div>
                       </div>

                  
                  
             

                <div class="form-group modal-footer">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary"> ثبت اطلاعات</button>
                      
                    </div>
                </div>
            </form>
          

      </div>
    
    </div>
  </div>

{% endblock %}
