{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% load luna_filters %}
{% block style %}
{% endblock %}
{% block body_script %}
{% endblock %}

{% block page_title %}{%block content_title%}معامله هایی که تا 15 روز دیگر تمام می شوند{% endblock %}{% endblock %}

{% block content %}

<div class="thumbnail">
	{% if not end_deals %}
		<p class="notFind"><span class="glyphicon glyphicon-minus"></span>معامله ای در حال تمام شدن وجود ندارد</p>
	{% else %}
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr><td>کد فایل</td><td>نام و نام خانوادگی مالک</td><td>تلفن مالک</td><td>نام ونام خانوادگی طرف معامله</td><td>تلفن طرف معامله</td><td>تاریخ پایان معامله</td> <td>مشاهده فایل</td><td>ارسال SMS</td></tr>
            </thead>
            <tbody>
			{% for deal in end_deals %}
			  <tr><td>{{deal.deal_file.file_code}}</td><td>{{deal.deal_file.owner_name}} {{deal.deal_file.owner_family}}</td><td>{{deal.deal_file.owner_cell}}</td><td>{{deal.deal_name}} {{deal.deal_family}}</td><td>{{deal.deal_cell}}</td><td>{{deal.deal_end_date|persian_date}}</td>

			  <td> <a href="{% url 'RealEstate_admin:editFileDeal' deal.deal_file.pk %}"><span class=" glyphicon glyphicon-import"></span></a></td><td><a href="{% url 'Luna_admin:sendSms' deal.deal_cell|add:'-'|add:deal.deal_file.owner_cell 2 %}"><span class=" glyphicon glyphicon-envelope"></span></a></td></tr>
			{% endfor %}
            </tbody>
        </table>
  
	{% endif %}

</div>
{% endblock %}
