{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% load luna_filters %}
{% block page_title %}{% block content_title %}ایجاد درخواست ملک{% endblock %}{% endblock %}
{% block body_script %}
	<script  src="{% static 'Luna_admin/script/validate.js' %}"></script>
	<script  src="{% static 'RealEstate_admin/script/request/add_edit_request.js' %}"></script>
{% endblock %}

{% block content %}
<div id="addEditPropertyRequestFormError"></div>
<form class="form-horizontal" id="addEditPropertyRequestForm" name="addEditPropertyRequestForm" method="POST" action="{% url 'RealEstate_admin:addEditPropertyRequest' %}">
	{% csrf_token %}
	<input type="hidden" value="{{property_request.id}}" name="property_request_id" />
	    <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="name" class="col-sm-4 control-label">نام</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="name" name="name"  value="{{property_request.name}}">
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="family" class="col-sm-4 control-label">نام خانوادگی</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="family" name="family"  			value="{{property_request.family}}">
                          </div>
                      </div>
                  </div>
              </div>
          
	    <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="phone_no" class="col-sm-4 control-label">شماره تماس</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="phone_no" name="phone_no"  value="{{property_request.phone_no}}">
                          </div>
                      </div>
                  </div>
		  <div class="col-md-6">
                          <div class="form-group">
                <label for="deal_type" class="col-sm-4 control-label">نوع معامله مورد درخواست</label>
                <div class="col-sm-8">
                    <select class="form-control" name="deal_type" id="deal_type">
        		{{ property_request | format_request_deal_type | safe }} 
                    </select>
                </div>
            </div>
        </div>          
	
	   <div class="row">
              <div class="col-md-6">
                          <div class="form-group">
                <label for="property_type" class="col-sm-4 control-label">نوع ملک مورد درخواست</label>
                <div class="col-sm-8">
                    <select class="form-control" name="property_type" id="property_type">
        		{{ property_request | format_request_property_type | safe }} 
                    </select>
                </div>
            </div>
              </div> 
              <div class="col-md-6">
                  
            <div class="form-group  hidden" id="OtherPropertyTypeGroup">
                <label for="other_property_type_name" class="col-sm-4 control-label ">سایر</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="other_property_type_name" name="other_property_type_name" value="{{property_request.other_property_type_name|default_if_none:''}}">
                </div>
            </div>

              </div>
          </div>

 <div class="row">
            <div class="col-md-6">
                      <div class="form-group">
                          <label for="total_price" class="col-sm-4 control-label">قیمت کل مورد نظر برای خرید</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="total_price" name="total_price"  			value="{{property_request.total_price|default_if_none:''}}">
                          </div>
                      </div>
                  </div>
              

		<div class="col-md-6">
                      <div class="form-group">
                          <label for="rahne_kamel_price" class="col-sm-4 control-label">رهن کامل</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="rahne_kamel_price" name="rahne_kamel_price"  			value="{{property_request.rahne_kamel_price|default_if_none:''}}">
                          </div>
                      </div>
                  </div>
              </div>
              
          

 <div class="row">
            <div class="col-md-6">
                      <div class="form-group">
                          <label for="rahn_price" class="col-sm-4 control-label">رهن</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="rahn_price" name="rahn_price"  			value="{{property_request.rahn_price|default_if_none:''}}">
                          </div>
                      </div>
                  </div>
              

		<div class="col-md-6">
                      <div class="form-group">
                          <label for="ejare_price" class="col-sm-4 control-label">اجاره</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="ejare_price" name="ejare_price"  			value="{{property_request.ejare_price|default_if_none:''}}">
                          </div>
                      </div>
                  </div>
              </div>
              
              
              <div class="row">
            <div class="col-md-6">
                      <div class="form-group">
                          <label for="area" class="col-sm-4 control-label">محدوده</label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control" id="area" name="area" value="{{property_request.area|default_if_none:''}}">
                          </div>
                      </div>
                  </div>
              

		<div class="col-md-6">
                      <div class="form-group">
                          <label for="description" class="col-sm-4 control-label">توضیحات</label>
                          <div class="col-sm-8">
                           <textarea class="form-control" name="description" id="description">{{property_request.description|default_if_none:''}}</textarea>                            
                          </div>
                      </div>
                  </div>
              </div>
              
              
        
 <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">ثبت درخواست</button>
                </div>
            </div>
          </div>
</form>
<div class="control-group" style="float:left;">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="{% url 'RealEstate_admin:propertyRequests'%}">
<button class="btn btn-primary">بازگشت به مدیریت درخواستها</button>
</a>
                </div>
            </div>


{% endblock %}
