{% extends "Luna_admin/admin_master.html" %}
{% load staticfiles %}
{% load luna_filters %}
{% block page_title %}{% block content_title %}مدیریت درخواستها{% endblock %}{% endblock %}
{% block body_script %}
	<script  src="{% static 'Luna_admin/script/validate.js' %}"></script>
{% endblock %}
{% block content %}

        {% comment %}جستجو{% endcomment %}
        <div class="thumbnail">

    <form class="form-inline" role="form" method="GET" action="{% url 'RealEstate_admin:propertyRequests' %}" >
        <div class="form-group">
            <input type="text" class="form-control input-sm" id="fullname"  name="fullname" placeholder="نام یا نام خانوادگی مالک" value="{{fullname}}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-sm" id="area" name="area" placeholder="محدوده" value="{{area}}">
        </div>

        <div class="form-group">
             <select class="form-control" name="property_type" id="property_type">
                                  <option value="">---</option>
                                  <option value="apartment" {%ifequal property_type 'apartment'%}selected{%endifequal%}>آپارتمان</option>
                                  <option value="house" {%ifequal property_type 'house'%}selected{%endifequal%}>خانه( دربست ، طبقه ، کلنگی)</option>
                                  <option value="suite" {%ifequal property_type 'suite'%}selected{%endifequal%}>سوئیت (خانه ، آپارتمان)</option>
                                  <option value="shop" {%ifequal property_type 'shop'%}selected{%endifequal%}>مغازه</option>
                              </select>
        </div>
        <div class="form-group">
         <select class="form-control" id="deal_type" name="deal_type">
                        <option value="">---</option>
                        <option value="rahn_va_ejare" {%ifequal deal_type 'rahn_va_ejare'%}selected{%endifequal%}>رهن واجاره</option>
                        <option value="rahn_kamel" {%ifequal deal_type 'rahn_kamel'%}selected{%endifequal%}>رهن کامل</option>
                        <option value="forush_malekiyat" {%ifequal deal_type 'forush_malekiyat'%}selected{%endifequal%}>فروش مالکیت</option>
                        <option value="forush_sarghofly" {%ifequal deal_type 'forush_sarghofly'%}selected{%endifequal%}>فروش سرقفلی</option>
                        <option value="moaveze" {%ifequal deal_type 'moaveze'%}selected{%endifequal%}>معاوضه</option>
                        <option value="pish_forush" {%ifequal deal_type 'pish_forush'%}selected{%endifequal%}>پیش فروش</option>
                        <option value="mosharekat_dar_sakht" {%ifequal deal_type 'mosharekat_dar_sakht'%}selected{%endifequal%}>مشارکت در ساخت</option>
                    </select>
         </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">جستجوی درخواست</button></div>
    </form>

</div>


<div class="thumbnail">
	{% if not property_requests %}
		<p class="notFind"><span class="glyphicon glyphicon-minus"></span>درخواستی ثبت نشده است</p>
	{% else %}
        <table class="table table-responsive table-striped table-hover">
            <thead>
                <tr><td>تاریخ ثبت</td><td>نام و نام خانوادگی درخواست کننده</td><td>شماره تماس</td>
                    <td>نوع معامله</td><td>نوع ملک</td> <td>محدوده</td>
                <td>خرید</td><td>رهن کامل</td> <td>رهن</td>  <td>اجاره</td><td>توضیحات دارد؟</td> 
                 <td>ویرایش</td><td>حذف</td>
                </tr>
            </thead>
            <tbody>
			{% for property_request in property_requests %}
			  <tr>
               <td>{{property_request.creation_date| persian_date}}</td>
			   <td style="text-align:center;">{{property_request.name}} {{property_request.family}}</td>
               <td>{{property_request.phone_no}}</td>
                   <td>{{property_request| format_deal_type | safe}}</td>
			   <td>{{property_request| format_property_type | safe}}</td>
			   <td>{{property_request.area|default_if_none:''}}</td>
			   <td>{{property_request.total_price|default_if_none:''}}</td>
			   <td>{{property_request.rahne_kamel_price|default_if_none:''}}</td>
			   <td>{{property_request.rahn_price|default_if_none:''}}</td>
			   <td>{{property_request.ejare_price|default_if_none:''}}</td>
			   <td style="text-align:center;">
                   {% if property_request.description %}
                   <span class="glyphicon glyphicon-ok"></span>
			     {% else %}
			     <span class="glyphicon glyphicon-remove"></span>
			     {% endif %}
			   </td>

			 

			  <td> <a href="../admin/add_edit_request/{{ property_request.id }}/"><span class="glyphicon glyphicon-floppy-saved"></span></a></td>
              <td> <a href="{% url 'RealEstate_admin:deletePropertyRequest' property_request.id %}"><span class="glyphicon glyphicon-trash"></span></a></td></tr>
			{% endfor %}
            </tbody>
        </table>
  <ul class="pagination">
		 {% if property_requests.has_previous %}
			<li><a href="?page={{ property_requests.previous_page_number }}"><</a></li>
        {% endif %}

        <li class="active"><a href=#>
            صفحه {{ property_requests.number }} از {{ property_requests.paginator.num_pages }}
        </a></li>

        {% if property_requests.has_next %}
            <li><a href="?page={{ property_requests.next_page_number }}">></a></li>
        {% endif %}
       
</ul>
	{% endif %}

</div>
{% comment %} ثبت درخواست جدید{% endcomment %}
 
<div class="">
  <a href="{% url 'RealEstate_admin:addEditPropertyRequest' %}">
    <button type="button" class="btn btn-primary btn-sm "><span class="glyphicon glyphicon-plus"></span>ثبت درخواست جدید</button>
   </a>
</div>






{% endblock %}
