body {
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
}

.icon {
    margin-left: 10px;
    border-left: 1px solid #cdcdcd;
    padding: 8px;
    height: 38px;
    font-size: 16px;
}

.content {
    width: 550px;
    margin: 100px auto 0 auto;
    border: solid 1px #CDCDCD;
    background-color: white;
    border-radius: 4px;
}

#remainingChars {
   margin : 15px auto;
}
